@use '../../styles/mixins/dimension';

@import '../Icon/Icon.module';

$chromatic-colors: 'blue', 'red', 'green', 'cobalt', 'orange', 'pink', 'purple';

.Button {
  position: relative;
  box-sizing: border-box;
  transition: background-color var(--transition-s);

  /* dimension */
  &:where(.size-xs) {
    height: 20px;
    padding: 0 4px;

    & :where(.ButtonText) {
      padding: 0 3px;
    }
  }

  &:where(.size-s) {
    height: 24px;
    padding: 0 6px;

    & :where(.ButtonText) {
      padding: 0 3px;
    }

    & :where(.ButtonContent) {
      gap: 1px;
    }
  }

  &:where(.size-m) {
    height: 36px;
    padding: 0 10px;

    & :where(.ButtonText) {
      padding: 0 4px;
    }
  }

  &:where(.size-l) {
    height: 44px;
    padding: 0 14px;

    & :where(.ButtonText) {
      padding: 0 6px;
    }
  }

  &:where(.size-xl) {
    height: 54px;
    padding: 0 18px;

    & :where(.ButtonText) {
      padding: 0 6px;
    }
  }

  /* background-color */
  &:where(.variant-primary) {
    $background-color-by-color: (
      blue: --alpha-color-primary-bg-normal,
      cobalt: --alpha-color-accent-bg-normal,
      red: --alpha-color-critical-bg-normal,
      orange: --alpha-color-warning-bg-normal,
      green: --alpha-color-success-bg-normal,
      pink: --alpha-color-bg-pink-normal,
      purple: --alpha-color-bg-purple-normal,
      dark-grey: --alpha-color-bg-grey-darkest,
      light-grey: --alpha-color-bg-black-dark,
      white: --alpha-color-bg-absolute-white-dark,
    );

    @each $color, $background-color in $background-color-by-color {
      &:where(.color-#{'' + $color}) {
        background-color: var(#{$background-color});

        &:where(.active, :hover):where(:not(:disabled)) {
          background-color: var(#{$background-color}-hovered);
        }
      }
    }
  }

  &:where(.variant-secondary) {
    $background-color-by-color: (
      blue: --alpha-color-primary-bg-lightest,
      cobalt: --alpha-color-accent-bg-lightest,
      red: --alpha-color-critical-bg-lightest,
      orange: --alpha-color-warning-bg-lightest,
      green: --alpha-color-success-bg-lightest,
      pink: --alpha-color-bg-pink-lightest,
      purple: --alpha-color-bg-purple-lightest,
      dark-grey: --alpha-color-bg-black-lighter,
      light-grey: --alpha-color-bg-black-lighter,
      white: --alpha-color-bg-absolute-white-lightest,
    );

    @each $color, $background-color in $background-color-by-color {
      &:where(.color-#{'' + $color}) {
        background-color: var(#{$background-color});

        &:where(.active, :hover):where(:not(:disabled)) {
          background-color: var(#{$background-color}-hovered);
        }
      }
    }
  }

  &:where(.variant-tertiary) {
    @each $color in $chromatic-colors {
      &:where(.color-#{'' + $color}) {
        /* stylelint-disable-next-line bezier/validate-token */
        background-color: var(--alpha-color-bg-#{$color}-transparent);
      }
    }

    &:where(.color-dark-grey, .color-light-grey) {
      background-color: var(--alpha-color-bg-black-transparent);
    }

    &:where(.color-white-absolute) {
      background-color: var(--alpha-color-bg-absolute-white-transparent);
    }
  }

  /* color */
  /* stylelint-disable-next-line no-duplicate-selectors */
  &:where(.variant-primary) {
    color: var(--alpha-color-fg-absolute-white-dark);

    &:where(.color-dark-grey) {
      color: var(--alpha-color-fg-white-normal);
    }

    &:where(.color-light-grey) {
      color: var(--alpha-color-fg-absolute-white-normal);
    }

    &:where(.color-white-absolute) {
      color: var(--alpha-color-fg-absolute-black-normal);
    }
  }

  &:where(.variant-secondary, .variant-tertiary) {
    $color-map: (
      blue: var(--alpha-color-primary-fg-normal),
      cobalt: var(--alpha-color-accent-fg-normal),
      red: var(--alpha-color-critical-fg-normal),
      orange: var(--alpha-color-warning-fg-normal),
      green: var(--alpha-color-success-fg-normal),
      pink: var(--alpha-color-fg-pink-normal),
      purple: var(--alpha-color-fg-purple-normal),
      dark-grey: var(--alpha-color-fg-black-darkest),
      light-grey: var(--alpha-color-fg-black-darker),
    );

    @each $button-color, $color in $color-map {
      &:where(.color-#{'' + $button-color}) {
        color: $color;
      }
    }

    &:where(.color-dark-grey) {
      & :where(.ButtonIcon) {
        color: var(--alpha-color-fg-black-darker);
      }
    }

    &:where(.color-light-grey) {
      & :where(.ButtonIcon) {
        color: var(--alpha-color-fg-black-dark);
      }
    }
  }

  &:where(.variant-tertiary, .variant-secondary):where(.color-white-absolute) {
    & :where(.ButtonIcon) {
      color: var(--alpha-color-fg-absolute-white-light);
    }

    & :where(.ButtonText) {
      color: var(--alpha-color-fg-absolute-white-normal);
    }
  }

  /* border-radius */
  &:where(.variant-primary, .variant-secondary, .variant-tertiary) {
    $border-radius-by-size: (
      xs: var(--alpha-dimension-6),
      s: var(--alpha-dimension-7),
      m: var(--alpha-dimension-10),
      l: var(--alpha-dimension-12),
      xl: var(--alpha-dimension-14),
    );

    @each $size, $border-radius in $border-radius-by-size {
      &:where(.size-#{$size}) {
        border-radius: $border-radius;
      }
    }
  }

  /* TODO: use v2 token when design is specified */

  /* visual effect on interaction */
  &:where(.active, :hover):where(:not(:disabled)) {
    &:where(.variant-tertiary) {
      @each $color in $chromatic-colors {
        &:where(.color-#{'' + $color}) {
          /* stylelint-disable-next-line bezier/validate-token */
          background-color: var(--bgtxt-#{$color}-lightest);
        }
      }

      &:where(.color-dark-grey, .color-light-grey, .color-white-absolute) {
        background-color: var(--bg-black-lighter);
      }
    }

    &:where(.color-dark-grey):where(.variant-secondary, .variant-tertiary) {
      & :is(.ButtonIcon, .ButtonLoader) {
        color: var(--txt-black-darkest);
      }
    }

    &:where(.color-light-grey):where(.variant-secondary, .variant-tertiary) {
      & :is(.ButtonIcon, .ButtonLoader) {
        color: var(--txt-black-darker);
      }
    }

    &:where(.color-white-absolute.variant-tertiary) {
      & :where(.ButtonIcon) {
        color: var(--alpha-color-fg-absolute-white-normal);
      }
    }
  }

  &:where(.variant-primary.color-blue:focus-visible) {
    outline: 3px solid var(--bgtxt-blue-light);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--alpha-opacity-disabled);
  }

  /* internal components */
  .ButtonContent {
    display: flex;
    align-items: center;
    justify-content: center;

    &:where(.loading) {
      visibility: hidden;
    }
  }

  & :where(.ButtonLoader) {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @each $size, $value in $size-map {
      &:where(.size-#{$size}) {
        & :is(.Loader) {
          @include dimension.square(#{$value}px);
        }
      }
    }
  }
}
