.LeftIconWrapper {
  display: flex;
  align-items: center;
  min-width: 20px;
  max-width: 20px;
  margin-right: 8px;
}

.RightContentWrapper {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
  margin-left: 8px;
}

.Wrapper {
  display: block;
}

.Item {
  display: flex;
  width: 100%;
  align-items: center;
  height: 28px;
  padding: 0 6px;
  text-decoration: none;
  outline: 0;
  border-radius: var(--radius-6);

  &:where(.active) {
    color: var(--bgtxt-blue-normal);
    background-color: var(--bgtxt-blue-lightest);
  }

  &:where(:not(.active)) {
    color: var(--txt-black-darkest);

    &:where(&:hover, &:focus-visible) {
      background-color: var(--bg-black-lighter);
    }
  }
}
