.ChevronWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  max-width: 20px;
  margin-left: 2px;
}

.ChildrenWrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 8px;
}
