@layer components {
  .Box {
    box-sizing: border-box;

    &:where(.display-block) {
      display: block;
    }

    &:where(.display-inline-block) {
      display: inline-block;
    }

    &:where(.display-inline) {
      display: inline;
    }
  }
}
