@layer components {
  .Box {
    &.display-block {
      display: block;
    }

    &.display-inline-block {
      display: inline-block;
    }

    &.display-inline {
      display: inline;
    }
  }
}
