@use '../../styles/mixins/dimension';

$active-selector: ':where(.active, :hover):where(:not(:disabled))';

.IconButton {
  --b-beta-icon-button-icon-color: initial;
  --b-beta-icon-button-spinner-color: var(--b-beta-icon-button-icon-color);

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  color: var(--b-beta-icon-button-icon-color);

  background-color: var(--b-beta-icon-button-background-color);
  border: none;
  border-radius: 9999px;
  box-shadow: var(--b-beta-icon-button-box-shadow, none);

  transition:
    color var(--motion-transition-fast),
    background-color var(--motion-transition-fast),
    box-shadow var(--motion-transition-fast);

  &:where(.size-xs) {
    @include dimension.square(20px);

    padding: 2px;

    & .IconButtonIcon {
      @include dimension.square(16px);
    }
  }

  &:where(.size-s) {
    @include dimension.square(24px);

    padding: 4px;

    & .IconButtonIcon {
      @include dimension.square(16px);
    }
  }

  &:where(.size-m) {
    @include dimension.square(32px);

    padding: 6px;

    & .IconButtonIcon {
      @include dimension.square(20px);
    }
  }

  &:where(.size-l) {
    @include dimension.square(44px);

    padding: 12px;

    & .IconButtonIcon {
      @include dimension.square(20px);
    }
  }

  &:where(.variant-filled.semantic-primary) {
    --b-beta-icon-button-icon-color: var(--color-icon-inverse-heavier);
    --b-beta-icon-button-background-color: var(--color-fill-neutral-heaviest);

    &#{$active-selector} {
      --b-beta-icon-button-background-color: var(
        --color-fill-neutral-heaviest-hovered
      );
    }
  }

  &:where(.variant-filled.semantic-secondary) {
    --b-beta-icon-button-icon-color: var(--color-icon-neutral-heavy);
    --b-beta-icon-button-background-color: var(--color-fill-neutral);

    &#{$active-selector} {
      --b-beta-icon-button-background-color: var(--color-fill-neutral-hovered);
    }
  }

  &:where(.variant-filled.semantic-destructive) {
    --b-beta-icon-button-icon-color: var(--color-icon-inverse-heavier);
    --b-beta-icon-button-background-color: var(--color-fill-accent-red-heavier);

    &#{$active-selector} {
      --b-beta-icon-button-background-color: var(
        --color-fill-accent-red-heavier-hovered
      );
    }
  }

  &:where(.variant-outlined) {
    --b-beta-icon-button-background-color: var(--color-fill-neutral-transparent);
    --b-beta-icon-button-box-shadow: inset 0 0 0 1px var(--color-border-neutral);

    &#{$active-selector} {
      --b-beta-icon-button-background-color: var(
        --color-fill-neutral-transparent-hovered
      );
    }
  }

  &:where(.variant-outlined.semantic-primary) {
    --b-beta-icon-button-icon-color: var(--color-icon-neutral-heavier);
  }

  &:where(.variant-outlined.semantic-secondary) {
    --b-beta-icon-button-icon-color: var(--color-icon-neutral);
  }

  &:where(.variant-outlined.semantic-destructive) {
    --b-beta-icon-button-icon-color: var(--color-icon-accent-red);
  }

  &:where(.variant-ghost) {
    --b-beta-icon-button-background-color: var(--color-fill-neutral-transparent);

    &#{$active-selector} {
      --b-beta-icon-button-background-color: var(
        --color-fill-neutral-transparent-hovered
      );
    }
  }

  &:where(.variant-ghost.semantic-primary) {
    --b-beta-icon-button-icon-color: var(--color-icon-neutral-heavy);
  }

  &:where(.variant-ghost.semantic-secondary) {
    --b-beta-icon-button-icon-color: var(--color-icon-neutral);
  }

  &:where(.variant-ghost.semantic-destructive) {
    --b-beta-icon-button-icon-color: var(--color-icon-accent-red);
  }

  &:where(.loading) {
    pointer-events: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
  }
}

.IconButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;

  &:where(.loading) {
    visibility: hidden;
  }
}

.IconButtonIcon {
  flex: 0 0 auto;
  color: var(--b-beta-icon-button-icon-color);
}

.IconButtonLoader {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--b-beta-icon-button-spinner-color);
}
