.Grid {
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 150px 1fr;
  grid-column-gap: 12px;
  align-items: center;
}

.FormLabelWrapper {
  &:where(.position-top) {
    margin-bottom: 4px;
    padding: 0 2px;
  }

  &:where(.position-left) {
    display: flex;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    align-items: center;
    align-self: start;

    height: var(--b-form-control-left-label-wrapper-height);
  }
}

.FormHelperTextWrapper {
  margin-top: 4px;
  padding: 0 2px;

  &:where(.position-left) {
    grid-column: 2;
    grid-row: 2 / 2;
  }
}

