$modal-padding: 20;
$header-body-gap: 12;
$footer-top-gap: 16;
$close-icon-button-margin: -6;

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    transform: translate(0, -2%) scale(0.95);
    opacity: 0;
  }

  to {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.ModalOverlay {
  position: fixed;
  inset: 0;

  overflow-y: auto;
  display: grid;
  place-items: center;

  box-sizing: border-box;
  padding: var(--b-modal-collision-padding);

  background-color: var(--color-dim-absolute-black);

  &:where([data-state='open']) {
    animation: overlay-show var(--motion-transition-default);
  }
}

.ModalContent {
  position: relative;

  overflow: visible;

  box-sizing: border-box;
  width: var(--b-modal-width);
  min-width: 360px;
  max-width: 100vw;
  height: var(--b-modal-height);
  max-height: 100%;

  color: var(--color-text-neutral-heaviest);
  word-break: break-word;

  background-color: var(--color-surface-higher);
  border-radius: var(--radius-20);
  box-shadow: var(--elevation-4);

  &:where([data-state='open']) {
    animation: content-show var(--motion-transition-default);
  }

  &:focus {
    outline: none;
  }
}

.ModalSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ModalHeader {
  display: flex;
  flex-direction: column;
  padding: #{$modal-padding}px #{$modal-padding}px 0;

  &:where([data-modal-type='default']) {
    gap: 8px;
  }

  &:where([data-modal-type='confirm']) {
    gap: 8px;
  }
}

.ModalBody {
  flex: 1;
  min-height: 0;
  padding: 12px #{$modal-padding}px #{$modal-padding}px;
}

.ModalFooter {
  display: flex;
  padding: #{$footer-top-gap}px #{$modal-padding}px #{$modal-padding}px;
}

.ModalFooterAfterBody {
  margin-top: #{$footer-top-gap - $modal-padding}px;
  padding-top: 0;
}

.TitleContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;

  width: 100%;
}

.HeadingGroup {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  gap: 4px;
}

.TitleWrapper {
  flex: 1;
  min-width: 0;
}

.Title {
  width: 100%;
}

.Description {
  margin: 0;
}

.CloseIconButton {
  position: absolute;
  top: #{$modal-padding + $close-icon-button-margin}px;
  right: #{$modal-padding + $close-icon-button-margin}px;
}

.CloseIconButtonSpacer {
  pointer-events: none;

  flex: 0 0 auto;

  margin-top: #{$close-icon-button-margin}px;
  margin-right: #{$close-icon-button-margin}px;

  visibility: hidden;
}

.FooterLeftContent {
  margin-right: auto;
}

.FooterRightContent {
  margin-left: auto;
}
