.TriggerContent {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  min-width: 0;
}

.TriggerLabel {
  min-width: 0;
}

.TriggerChevron {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: var(--color-icon-neutral-heavy);
}
