:where(:root) {
  --radius-2: 2px;
  --radius-3: 3px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-14: 14px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-32: 32px;
  --radius-44: 44px;
  --radius-100: 100%;
  --radius-smooth-corners: 42%;

  --color-blue-300: #6687FF;
  --color-blue-400: #5E56F0;
  --color-blue-500: #4E40C9;
  --color-blue-400-30: rgba(94, 86, 240, 0.3);
  --color-blue-400-20: rgba(94, 86, 240, 0.2);
  --color-blue-400-10: rgba(94, 86, 240, 0.1);
  --color-blue-300-40: rgba(102, 135, 255, 0.4);
  --color-blue-300-30: rgba(102, 135, 255, 0.3);
  --color-blue-300-20: rgba(102, 135, 255, 0.2);

  --color-cobalt-300: #47C8FF;
  --color-cobalt-400: #329BE7;
  --color-cobalt-500: #327AB8;
  --color-cobalt-400-30: rgba(50, 155, 231, 0.3);
  --color-cobalt-400-20: rgba(50, 155, 231, 0.2);
  --color-cobalt-400-10: rgba(50, 155, 231, 0.1);
  --color-cobalt-300-40: rgba(71, 200, 255, 0.4);
  --color-cobalt-300-30: rgba(71, 200, 255, 0.3);
  --color-cobalt-300-20: rgba(71, 200, 255, 0.2);

  --color-green-300: #3ACF5A;
  --color-green-400: #31A552;
  --color-green-500: #41904F;
  --color-green-400-30: rgba(49, 165, 82, 0.3);
  --color-green-400-20: rgba(49, 165, 82, 0.2);
  --color-green-400-10: rgba(49, 165, 82, 0.1);
  --color-green-300-40: rgba(58, 207, 90, 0.4);
  --color-green-300-30: rgba(58, 207, 90, 0.3);
  --color-green-300-20: rgba(58, 207, 90, 0.2);

  --color-red-300: #FF5C5C;
  --color-red-400: #E94E58;
  --color-red-500: #AC3E46;
  --color-red-400-30: rgba(233, 78, 88, 0.3);
  --color-red-400-20: rgba(233, 78, 88, 0.2);
  --color-red-400-10: rgba(233, 78, 88, 0.1);
  --color-red-300-40: rgba(255, 92, 92, 0.4);
  --color-red-300-30: rgba(255, 92, 92, 0.3);
  --color-red-300-20: rgba(255, 92, 92, 0.2);

  --color-black-3: rgba(0, 0, 0, 0.03);
  --color-black-5: rgba(0, 0, 0, 0.05);
  --color-black-8: rgba(0, 0, 0, 0.08);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-black-22: rgba(0, 0, 0, 0.22);
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-85: rgba(0, 0, 0, 0.85);
  --color-black-100: #000000;

  --color-white-0: rgba(255, 255, 255, 0);
  --color-white-5: rgba(255, 255, 255, 0.05);
  --color-white-8: rgba(255, 255, 255, 0.08);
  --color-white-12: rgba(255, 255, 255, 0.12);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-90: rgba(255, 255, 255, 0.9);
  --color-white-100: #FFFFFF;

  --color-orange-300: #FFAB5C;
  --color-orange-400: #F4800B;
  --color-orange-500: #C57417;
  --color-orange-900: #544A3F;
  --color-orange-400-30: rgba(244, 128, 11, 0.3);
  --color-orange-400-20: rgba(244, 128, 11, 0.2);
  --color-orange-400-10: rgba(244, 128, 11, 0.1);
  --color-orange-300-40: rgba(255, 171, 92, 0.4);
  --color-orange-300-30: rgba(255, 171, 92, 0.3);
  --color-orange-300-20: rgba(255, 171, 92, 0.2);

  --color-yellow-300: #FDD353;
  --color-yellow-400: #EDBC40;
  --color-yellow-500: #C39E37;
  --color-yellow-400-30: rgba(237, 188, 64, 0.3);
  --color-yellow-400-20: rgba(237, 188, 64, 0.2);
  --color-yellow-400-10: rgba(237, 188, 64, 0.1);
  --color-yellow-300-40: rgba(253, 211, 83, 0.4);
  --color-yellow-300-30: rgba(253, 211, 83, 0.3);
  --color-yellow-300-20: rgba(253, 211, 83, 0.2);

  --color-pink-300: #EC6FD3;
  --color-pink-400: #CB48AD;
  --color-pink-500: #A32E92;
  --color-pink-400-30: rgba(203, 72, 173, 0.3);
  --color-pink-400-20: rgba(203, 72, 173, 0.2);
  --color-pink-400-10: rgba(203, 72, 173, 0.1);
  --color-pink-300-40: rgba(236, 111, 211, 0.4);
  --color-pink-300-30: rgba(236, 111, 211, 0.3);
  --color-pink-300-20: rgba(236, 111, 211, 0.2);

  --color-purple-300: #B570FF;
  --color-purple-400: #915CE0;
  --color-purple-500: #6B23B3;
  --color-purple-400-30: rgba(145, 92, 224, 0.3);
  --color-purple-400-20: rgba(145, 92, 224, 0.2);
  --color-purple-400-10: rgba(145, 92, 224, 0.1);
  --color-purple-300-40: rgba(181, 112, 255, 0.4);
  --color-purple-300-30: rgba(181, 112, 255, 0.3);
  --color-purple-300-20: rgba(181, 112, 255, 0.2);

  --color-navy-300: #647CC9;
  --color-navy-400: #3A4F8D;
  --color-navy-500: #333D5B;
  --color-navy-400-30: rgba(58, 79, 141, 0.3);
  --color-navy-400-20: rgba(58, 79, 141, 0.2);
  --color-navy-400-10: rgba(58, 79, 141, 0.1);
  --color-navy-300-40: rgba(100, 124, 201, 0.4);
  --color-navy-300-30: rgba(100, 124, 201, 0.3);
  --color-navy-300-20: rgba(100, 124, 201, 0.2);

  --color-teal-300: #3CDDCD;
  --color-teal-400: #0FB3A3;
  --color-teal-500: #449C8A;
  --color-teal-400-30: rgba(15, 179, 163, 0.3);
  --color-teal-400-20: rgba(15, 179, 163, 0.2);
  --color-teal-400-10: rgba(15, 179, 163, 0.1);
  --color-teal-300-40: rgba(60, 221, 205, 0.4);
  --color-teal-300-30: rgba(60, 221, 205, 0.3);
  --color-teal-300-20: rgba(60, 221, 205, 0.2);

  --color-olive-300: #CAD548;
  --color-olive-400: #A0A540;
  --color-olive-500: #818628;
  --color-olive-400-30: rgba(160, 165, 64, 0.3);
  --color-olive-400-20: rgba(160, 165, 64, 0.2);
  --color-olive-400-10: rgba(160, 165, 64, 0.1);
  --color-olive-300-40: rgba(202, 213, 72, 0.4);
  --color-olive-300-30: rgba(202, 213, 72, 0.3);
  --color-olive-300-20: rgba(202, 213, 72, 0.2);

  --color-grey-50: #FCFCFC;
  --color-grey-100: #F7F7F8;
  --color-grey-200: #EFEFF0;
  --color-grey-500: #A7A7AA;
  --color-grey-700: #464748;
  --color-grey-800: #313234;
  --color-grey-850: #2A2B2D;
  --color-grey-900: #242428;
  --color-grey-900-90: rgba(36, 36, 40, 0.9);
  --color-grey-850-80: rgba(42, 43, 45, 0.8);
  --color-grey-800-80: rgba(49, 50, 52, 0.8);
  --color-grey-700-80: rgba(70, 71, 72, 0.8);
  --color-grey-200-80: rgba(239, 239, 240, 0.8);
  --color-grey-100-80: rgba(247, 247, 248, 0.8);
  --color-grey-50-80: rgba(252, 252, 252, 0.8);

  --line-height-16: 16px;
  --line-height-18: 18px;
  --line-height-20: 20px;
  --line-height-22: 22px;
  --line-height-24: 24px;
  --line-height-28: 28px;
  --line-height-32: 32px;
  --line-height-44: 44px;

  --font-weight-400: 400;
  --font-weight-700: 700;

  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-36: 36px;

  --letter-spacing-0: 0;
  --letter-spacing-01: -0.1;
  --letter-spacing-04: -0.4;
  --letter-spacing-1: -1;

  --paragraph-spacing-0: 0;

  --text-case-none: none;
  --text-decoration-none: none;

  --back-drop: 60px;

  --animation-duration-50: animation-duration: 50ms;;
  --animation-easing: animation-timing-function: ease-out;;
}