/* TODO: Reference core token */
@mixin tokens {
  --bg-blue-dark: #4E40C9;
  --bg-blue-normal: #5E56F0;
  --bg-blue-light: rgba(94, 86, 240, 0.3);
  --bg-blue-lighter: rgba(94, 86, 240, 0.2);
  --bg-blue-lightest: rgba(94, 86, 240, 0.1);

  --bg-red-dark: #AC3E46;
  --bg-red-normal: #E94E58;
  --bg-red-light: rgba(233, 78, 88, 0.3);
  --bg-red-lighter: rgba(233, 78, 88, 0.2);
  --bg-red-lightest: rgba(233, 78, 88, 0.1);

  --bg-orange-dark: #C57417;
  --bg-orange-normal: #F4800B;
  --bg-orange-light: rgba(244, 128, 11, 0.3);
  --bg-orange-lighter: rgba(244, 128, 11, 0.2);
  --bg-orange-lightest: rgba(244, 128, 11, 0.1);

  --bg-yellow-dark: #C39E37;
  --bg-yellow-normal: #EDBC40;
  --bg-yellow-light: rgba(237, 188, 64, 0.3);
  --bg-yellow-lighter: rgba(237, 188, 64, 0.2);
  --bg-yellow-lightest: rgba(237, 188, 64, 0.1);

  --bg-olive-dark: #818628;
  --bg-olive-normal: #A0A540;
  --bg-olive-light: rgba(160, 165, 64, 0.3);
  --bg-olive-lighter: rgba(160, 165, 64, 0.2);
  --bg-olive-lightest: rgba(160, 165, 64, 0.1);

  --bg-green-dark: #41904F;
  --bg-green-normal: #31A552;
  --bg-green-light: rgba(49, 165, 82, 0.3);
  --bg-green-lighter: rgba(49, 165, 82, 0.2);
  --bg-green-lightest: rgba(49, 165, 82, 0.1);

  --bg-teal-dark: #449C8A;
  --bg-teal-normal: #0FB3A3;
  --bg-teal-light: rgba(15, 179, 163, 0.3);
  --bg-teal-lighter: rgba(15, 179, 163, 0.2);
  --bg-teal-lightest: rgba(15, 179, 163, 0.1);

  --bg-cobalt-dark: #327AB8;
  --bg-cobalt-normal: #329BE7;
  --bg-cobalt-light: rgba(50, 155, 231, 0.3);
  --bg-cobalt-lighter: rgba(50, 155, 231, 0.2);
  --bg-cobalt-lightest: rgba(50, 155, 231, 0.1);

  --bg-navy-dark: #333D5B;
  --bg-navy-normal: #3A4F8D;
  --bg-navy-light: rgba(58, 79, 141, 0.3);
  --bg-navy-lighter: rgba(58, 79, 141, 0.2);
  --bg-navy-lightest: rgba(58, 79, 141, 0.1);

  --bg-purple-dark: #6B23B3;
  --bg-purple-normal: #915CE0;
  --bg-purple-light: rgba(145, 92, 224, 0.3);
  --bg-purple--lighter: rgba(145, 92, 224, 0.2);
  --bg-purple-lightest: rgba(145, 92, 224, 0.1);

  --bg-pink-dark: #A32E92;
  --bg-pink-normal: #CB48AD;
  --bg-pink-light: rgba(203, 72, 173, 0.3);
  --bg-pink-lighter: rgba(203, 72, 173, 0.2);
  --bg-pink-lightest: rgba(203, 72, 173, 0.1);

  --bg-white-highest: #FFFFFF;
  --bg-white-higher: #FFFFFF;
  --bg-white-normal: #FFFFFF;

  --bg-black-darkest: rgba(0, 0, 0, 0.6);
  --bg-black-darker: rgba(0, 0, 0, 0.4);
  --bg-black-dark: rgba(0, 0, 0, 0.2);
  --bg-black-light: rgba(0, 0, 0, 0.08);
  --bg-black-lighter: rgba(0, 0, 0, 0.05);
  --bg-black-lightest: rgba(0, 0, 0, 0.03);

  --bg-grey-darkest: #242428;
  --bg-grey-dark: #A7A7AA;
  --bg-grey-light: #EFEFF0;
  --bg-grey-lighter: #F7F7F8;
  --bg-grey-lightest: #FCFCFC;

  --bg-alpha-white-lightest: rgba(255, 255, 255, 0.9);
  --bg-alpha-white-lighter: rgba(255, 255, 255, 0.6);
  --bg-alpha-white-light: rgba(255, 255, 255, 0.2);
  --bg-alpha-grey-darkest: rgba(239, 239, 240, 0.8);
  --bg-alpha-grey-darker: rgba(247, 247, 248, 0.8);
  --bg-alpha-grey-dark: rgba(252, 252, 252, 0.8);
  --bg-alpha-grey-light: rgba(247, 247, 248, 0.8);

  --bg-absolute-white-dark: #FFFFFF;
  --bg-absolute-white-normal: rgba(255, 255, 255, 0.9);
  --bg-absolute-white-light: rgba(255, 255, 255, 0.6);
  --bg-absolute-white-lighter: rgba(255, 255, 255, 0.4);
  --bg-absolute-white-lightest: rgba(255, 255, 255, 0.2);

  --bg-absolute-black-dark: #000000;
  --bg-absolute-black-normal: rgba(0, 0, 0, 0.85);
  --bg-absolute-black-light: rgba(0, 0, 0, 0.6);
  --bg-absolute-black-lighter: rgba(0, 0, 0, 0.4);
  --bg-absolute-black-lightest: rgba(0, 0, 0, 0.2);

  --fg-red: #E94E58;
  --fg-orange: #F4800B;
  --fg-yellow: #EDBC40;
  --fg-olive: #A0A540;
  --fg-green: #31A552;
  --fg-teal: #0FB3A3;
  --fg-cobalt: #329BE7;
  --fg-blue: #5E56F0;
  --fg-navy: #3A4F8D;
  --fg-purple: #915CE0;
  --fg-pink: #CB48AD;

  --fg-black-darkest: rgba(0, 0, 0, 0.85);
  --fg-black-darker: rgba(0, 0, 0, 0.6);
  --fg-black-dark: rgba(0, 0, 0, 0.4);

  --fg-white-normal: #FFFFFF;
  --fg-absolute-white-dark: #FFFFFF;
  --fg-absolute-white-normal: rgba(255, 255, 255, 0.9);
  --fg-absolute-white-light: rgba(255, 255, 255, 0.6);
  --fg-absolute-white-lighter: rgba(255, 255, 255, 0.4);
  --fg-absolute-white-lightest: rgba(255, 255, 255, 0.2);

  --fg-absolute-black-dark: #000000;
  --fg-absolute-black-normal: rgba(0, 0, 0, 0.85);
  --fg-absolute-black-light: rgba(0, 0, 0, 0.6);
  --fg-absolute-black-lighter: rgba(0, 0, 0, 0.4);
  --fg-absolute-black-lightest: rgba(0, 0, 0, 0.2);

  --surface-lowest: #F7F7F8; /* edit marketing */
  --surface-lower: #FCFCFC; /* edit support-bot, report, mobile 2-depth */
  --surface-normal: #FFFFFF;

  --shadow-xl: rgba(0, 0, 0, 0.3);
  --shadow-l: rgba(0, 0, 0, 0.22);
  --shadow-m: rgba(0, 0, 0, 0.15);
  --shadow-s: rgba(0, 0, 0, 0.08);
  --shadow-base: rgba(0, 0, 0, 0.05);
  --shadow-base-inner: rgba(255, 255, 255, 0.12);

  --bdr-black-dark: rgba(0, 0, 0, 0.15);
  --bdr-black-light: rgba(0, 0, 0, 0.08);
  --bdr-black-lightest: rgba(0, 0, 0, 0.03);
  --bdr-grey: #EFEFF0;
  --bdr-white: #FFFFFF;

  --dim-black: rgba(0, 0, 0, 0.4);

  --gradient-green: linear-gradient(90deg, #31A552 0%, #3ACF5A 100%); /* progress, line-banner */
  --gradient-purple: linear-gradient(90deg, #915CE0 0%, #B570FF 100%); /* line-banner */
  --gradient-orange: linear-gradient(90deg, #F4800B 0%, #FFAB5C 100%); /* line-banner */
  --gradient-grey: linear-gradient(90deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.15) 100%); /* progress */
}
