@mixin tokens {
  --bg-white-high: var(--white);
  --bg-white-normal: var(--white);
  --bg-white-low: var(--white);
  --bg-gnb: var(--grey-200-80);
  --bg-navi: var(--grey-100-80);
  --bg-header: var(--white);
  --bg-header-float: var(--white-90);
  --bg-lounge: var(--grey-100-90);
  --bg-black-darkest: var(--black-60);
  --bg-black-darker: var(--black-40);
  --bg-black-dark: var(--black-15);
  --bg-black-light: var(--black-8);
  --bg-black-lighter: var(--black-5);
  --bg-black-lightest: var(--black-3);
  --bg-grey-darkest: var(--grey-900);
  --bg-grey-dark: var(--grey-500);
  --bg-grey-dim-lightest: var(--grey-50-80);
  --bg-grey-light: var(--grey-200);
  --bg-grey-lighter: var(--grey-100);
  --bg-grey-lightest: var(--grey-50);
  --bg-white-dim-dark: var(--white-60);
  --bg-white-dim-light: var(--white-20);
  --bgtxt-blue-dark: var(--blue-500);
  --bgtxt-blue-normal: var(--blue-400);
  --bgtxt-blue-light: var(--blue-400-30);
  --bgtxt-blue-lighter: var(--blue-400-20);
  --bgtxt-blue-lightest: var(--blue-400-10);
  --bgtxt-cobalt-dark: var(--cobalt-500);
  --bgtxt-cobalt-normal: var(--cobalt-400);
  --bgtxt-cobalt-light: var(--cobalt-400-30);
  --bgtxt-cobalt-lighter: var(--cobalt-400-20);
  --bgtxt-cobalt-lightest: var(--cobalt-400-10);
  --bgtxt-teal-dark: var(--teal-500);
  --bgtxt-teal-normal: var(--teal-400);
  --bgtxt-teal-light: var(--teal-400-30);
  --bgtxt-teal-lighter: var(--teal-400-20);
  --bgtxt-teal-lightest: var(--teal-400-10);
  --bgtxt-green-dark: var(--green-500);
  --bgtxt-green-normal: var(--green-400);
  --bgtxt-green-light: var(--green-400-30);
  --bgtxt-green-lighter: var(--green-400-20);
  --bgtxt-green-lightest: var(--green-400-10);
  --bgtxt-olive-dark: var(--olive-500);
  --bgtxt-olive-normal: var(--olive-400);
  --bgtxt-olive-light: var(--olive-400-30);
  --bgtxt-olive-lighter: var(--olive-400-20);
  --bgtxt-olive-lightest: var(--olive-400-10);
  --bgtxt-yellow-dark: var(--yellow-500);
  --bgtxt-yellow-normal: var(--yellow-400);
  --bgtxt-yellow-light: var(--yellow-400-30);
  --bgtxt-yellow-lighter: var(--yellow-400-20);
  --bgtxt-yellow-lightest: var(--yellow-400-10);
  --bgtxt-orange-dark: var(--orange-500);
  --bgtxt-orange-normal: var(--orange-400);
  --bgtxt-orange-light: var(--orange-400-30);
  --bgtxt-orange-lighter: var(--orange-400-20);
  --bgtxt-orange-lightest: var(--orange-400-10);
  --bgtxt-red-dark: var(--red-500);
  --bgtxt-red-normal: var(--red-400);
  --bgtxt-red-light: var(--red-400-30);
  --bgtxt-red-lighter: var(--red-400-20);
  --bgtxt-red-lightest: var(--red-400-10);
  --bgtxt-pink-dark: var(--pink-500);
  --bgtxt-pink-normal: var(--pink-400);
  --bgtxt-pink-light: var(--pink-400-30);
  --bgtxt-pink-lighter: var(--pink-400-20);
  --bgtxt-pink-lightest: var(--pink-400-10);
  --bgtxt-purple-dark: var(--purple-500);
  --bgtxt-purple-normal: var(--purple-400);
  --bgtxt-purple-light: var(--purple-400-30);
  --bgtxt-purple-lighter: var(--purple-400-20);
  --bgtxt-purple-lightest: var(--purple-400-10);
  --bgtxt-navy-dark: var(--navy-500);
  --bgtxt-navy-normal: var(--navy-400);
  --bgtxt-navy-light: var(--navy-400-30);
  --bgtxt-navy-lighter: var(--navy-400-20);
  --bgtxt-navy-lightest: var(--navy-400-10);
  --txt-black-pure: var(--black);
  --txt-black-darkest: var(--black-85);
  --txt-black-darker: var(--black-60);
  --txt-black-dark: var(--black-40);
  --txt-white-normal: var(--white);
  --bgtxt-absolute-black-dark: var(--black);
  --bgtxt-absolute-black-normal: var(--black-85);
  --bgtxt-absolute-black-light: var(--black-60);
  --bgtxt-absolute-black-lighter: var(--black-40);
  --bgtxt-absolute-black-lightest: var(--black-20);
  --bgtxt-absolute-white-dark: var(--white);
  --bgtxt-absolute-white-normal: var(--white-90);
  --bgtxt-absolute-white-light: var(--white-60);
  --bgtxt-absolute-white-lighter: var(--white-40);
  --bgtxt-absolute-white-lightest: var(--white-20);
  --bdr-black-dark: var(--black-15);
  --bdr-black-light: var(--black-8);
  --bdr-black-lightest: var(--black-3);
  --bdr-grey-light: var(--grey-200);
  --bdr-white: var(--white);
  --shdw-xlarge: var(--black-30);
  --shdw-large: var(--black-22);
  --shdw-medium: var(--black-15);
  --shdw-small: var(--black-8);
  --shdw-base: var(--black-5);
  --shdw-inner-base: var(--white-12);
  --inverted-bg-white-high: var(--grey-700);
  --inverted-bg-white-normal: var(--grey-900);
  --inverted-bg-white-low: var(--grey-800);
  --inverted-bg-gnb: var(--grey-700-80);
  --inverted-bg-navi: var(--grey-800-80);
  --inverted-bg-header: var(--grey-800);
  --inverted-bg-header-float: var(--grey-800-80);
  --inverted-bg-lounge: var(--grey-800-90);
  --inverted-bg-black-darkest: var(--white-60);
  --inverted-bg-black-darker: var(--white-40);
  --inverted-bg-black-dark: var(--white-20);
  --inverted-bg-black-light: var(--white-12);
  --inverted-bg-black-lighter: var(--white-8);
  --inverted-bg-black-lightest: var(--white-5);
  --inverted-bg-grey-darkest: var(--white);
  --inverted-bg-grey-dark: var(--grey-500);
  --inverted-bg-grey-dim-lightest: var(--grey-850-80);
  --inverted-bg-grey-light: var(--grey-700);
  --inverted-bg-grey-lighter: var(--grey-800);
  --inverted-bg-grey-lightest: var(--grey-850);
  --inverted-bg-white-dim-dark: var(--black-60);
  --inverted-bg-white-dim-light: var(--black-20);
  --inverted-bgtxt-blue-dark: var(--blue-400);
  --inverted-bgtxt-blue-normal: var(--blue-300);
  --inverted-bgtxt-blue-light: var(--blue-300-40);
  --inverted-bgtxt-blue-lighter: var(--blue-300-30);
  --inverted-bgtxt-blue-lightest: var(--blue-300-20);
  --inverted-bgtxt-cobalt-dark: var(--cobalt-400);
  --inverted-bgtxt-cobalt-normal: var(--cobalt-300);
  --inverted-bgtxt-cobalt-light: var(--cobalt-300-40);
  --inverted-bgtxt-cobalt-lighter: var(--cobalt-300-30);
  --inverted-bgtxt-cobalt-lightest: var(--cobalt-300-20);
  --inverted-bgtxt-teal-dark: var(--teal-400);
  --inverted-bgtxt-teal-normal: var(--teal-300);
  --inverted-bgtxt-teal-light: var(--teal-300-40);
  --inverted-bgtxt-teal-lighter: var(--teal-300-30);
  --inverted-bgtxt-teal-lightest: var(--teal-300-20);
  --inverted-bgtxt-green-dark: var(--green-400);
  --inverted-bgtxt-green-normal: var(--green-300);
  --inverted-bgtxt-green-light: var(--green-300-40);
  --inverted-bgtxt-green-lighter: var(--green-300-30);
  --inverted-bgtxt-green-lightest: var(--green-300-20);
  --inverted-bgtxt-olive-dark: var(--olive-400);
  --inverted-bgtxt-olive-normal: var(--olive-300);
  --inverted-bgtxt-olive-light: var(--olive-300-40);
  --inverted-bgtxt-olive-lighter: var(--olive-300-30);
  --inverted-bgtxt-olive-lightest: var(--olive-300-20);
  --inverted-bgtxt-yellow-dark: var(--yellow-400);
  --inverted-bgtxt-yellow-normal: var(--yellow-300);
  --inverted-bgtxt-yellow-light: var(--yellow-300-40);
  --inverted-bgtxt-yellow-lighter: var(--yellow-300-30);
  --inverted-bgtxt-yellow-lightest: var(--yellow-300-20);
  --inverted-bgtxt-orange-dark: var(--orange-400);
  --inverted-bgtxt-orange-normal: var(--orange-300);
  --inverted-bgtxt-orange-light: var(--orange-300-40);
  --inverted-bgtxt-orange-lighter: var(--orange-300-30);
  --inverted-bgtxt-orange-lightest: var(--orange-300-20);
  --inverted-bgtxt-red-dark: var(--red-400);
  --inverted-bgtxt-red-normal: var(--red-300);
  --inverted-bgtxt-red-light: var(--red-300-40);
  --inverted-bgtxt-red-lighter: var(--red-300-30);
  --inverted-bgtxt-red-lightest: var(--red-300-20);
  --inverted-bgtxt-pink-dark: var(--pink-400);
  --inverted-bgtxt-pink-normal: var(--pink-300);
  --inverted-bgtxt-pink-light: var(--pink-300-40);
  --inverted-bgtxt-pink-lighter: var(--pink-300-30);
  --inverted-bgtxt-pink-lightest: var(--pink-300-20);
  --inverted-bgtxt-purple-dark: var(--purple-400);
  --inverted-bgtxt-purple-normal: var(--purple-300);
  --inverted-bgtxt-purple-light: var(--purple-300-40);
  --inverted-bgtxt-purple-lighter: var(--purple-300-30);
  --inverted-bgtxt-purple-lightest: var(--purple-300-20);
  --inverted-bgtxt-navy-dark: var(--navy-400);
  --inverted-bgtxt-navy-normal: var(--navy-300);
  --inverted-bgtxt-navy-light: var(--navy-300-40);
  --inverted-bgtxt-navy-lighter: var(--navy-300-30);
  --inverted-bgtxt-navy-lightest: var(--navy-300-20);
  --inverted-txt-black-pure: var(--white);
  --inverted-txt-black-darkest: var(--white-80);
  --inverted-txt-black-darker: var(--white-60);
  --inverted-txt-black-dark: var(--white-40);
  --inverted-txt-white-normal: var(--grey-900);
  --inverted-bgtxt-absolute-black-dark: var(--black);
  --inverted-bgtxt-absolute-black-normal: var(--black-85);
  --inverted-bgtxt-absolute-black-light: var(--black-60);
  --inverted-bgtxt-absolute-black-lighter: var(--black-40);
  --inverted-bgtxt-absolute-black-lightest: var(--black-20);
  --inverted-bgtxt-absolute-white-dark: var(--white);
  --inverted-bgtxt-absolute-white-normal: var(--white-90);
  --inverted-bgtxt-absolute-white-light: var(--white-60);
  --inverted-bgtxt-absolute-white-lighter: var(--white-40);
  --inverted-bgtxt-absolute-white-lightest: var(--white-20);
  --inverted-bdr-black-dark: var(--white-20);
  --inverted-bdr-black-light: var(--white-12);
  --inverted-bdr-black-lightest: var(--white-5);
  --inverted-bdr-grey-light: var(--grey-700);
  --inverted-bdr-white: var(--grey-700);
  --inverted-shdw-xlarge: var(--black-60);
  --inverted-shdw-large: var(--black-40);
  --inverted-shdw-medium: var(--black-20);
  --inverted-shdw-small: var(--black-15);
  --inverted-shdw-base: var(--black-8);
  --inverted-shdw-inner-base: var(--white-8);
}
