// TODO: Reference core token
@mixin tokens {
  --bg-white-high: #FFFFFF;
  --bg-white-normal: #FFFFFF;
  --bg-white-low: #FFFFFF;
  --bg-gnb: #EFEFF0CC;
  --bg-navi: #F7F7F8CC;
  --bg-header: #FFFFFF;
  --bg-header-float: #FFFFFFE6;
  --bg-lounge: #F7F7F8E6;
  --bg-black-darkest: #00000099;
  --bg-black-darker: #00000066;
  --bg-black-dark: #00000026;
  --bg-black-light: #00000014;
  --bg-black-lighter: #0000000D;
  --bg-black-lightest: #00000008;
  --bg-grey-darkest: #242428;
  --bg-grey-dark: #A7A7AA;
  --bg-grey-dim-lightest: #FCFCFCCC;
  --bg-grey-light: #EFEFF0;
  --bg-grey-lighter: #F7F7F8;
  --bg-grey-lightest: #FCFCFC;
  --bg-white-dim-dark: #FFFFFF99;
  --bg-white-dim-light: #FFFFFF33;
  --bgtxt-blue-dark: #4E40C9;
  --bgtxt-blue-normal: #5E56F0;
  --bgtxt-blue-light: #5E56F04D;
  --bgtxt-blue-lighter: #5E56F033;
  --bgtxt-blue-lightest: #5E56F01A;
  --bgtxt-cobalt-dark: #327AB8;
  --bgtxt-cobalt-normal: #329BE7;
  --bgtxt-cobalt-light: #329BE74D;
  --bgtxt-cobalt-lighter: #329BE733;
  --bgtxt-cobalt-lightest: #329BE71A;
  --bgtxt-teal-dark: #449C8A;
  --bgtxt-teal-normal: #0FB3A3;
  --bgtxt-teal-light: #0FB3A34D;
  --bgtxt-teal-lighter: #0FB3A333;
  --bgtxt-teal-lightest: #0FB3A31A;
  --bgtxt-green-dark: #41904F;
  --bgtxt-green-normal: #31A552;
  --bgtxt-green-light: #31A5524D;
  --bgtxt-green-lighter: #31A55233;
  --bgtxt-green-lightest: #31A5521A;
  --bgtxt-olive-dark: #818628;
  --bgtxt-olive-normal: #A0A540;
  --bgtxt-olive-light: #A0A5404D;
  --bgtxt-olive-lighter: #A0A54033;
  --bgtxt-olive-lightest: #A0A5401A;
  --bgtxt-yellow-dark: #C39E37;
  --bgtxt-yellow-normal: #EDBC40;
  --bgtxt-yellow-light: #EDBC404D;
  --bgtxt-yellow-lighter: #EDBC4033;
  --bgtxt-yellow-lightest: #EDBC401A;
  --bgtxt-orange-dark: #C57417;
  --bgtxt-orange-normal: #F4800B;
  --bgtxt-orange-light: #F4800B4D;
  --bgtxt-orange-lighter: #F4800B33;
  --bgtxt-orange-lightest: #F4800B1A;
  --bgtxt-red-dark: #AC3E46;
  --bgtxt-red-normal: #E94E58;
  --bgtxt-red-light: #E94E584D;
  --bgtxt-red-lighter: #E94E5833;
  --bgtxt-red-lightest: #E94E581A;
  --bgtxt-pink-dark: #A32E92;
  --bgtxt-pink-normal: #CB48AD;
  --bgtxt-pink-light: #CB48AD4D;
  --bgtxt-pink-lighter: #CB48AD33;
  --bgtxt-pink-lightest: #CB48AD1A;
  --bgtxt-purple-dark: #6B23B3;
  --bgtxt-purple-normal: #915CE0;
  --bgtxt-purple-light: #915CE04D;
  --bgtxt-purple-lighter: #915CE033;
  --bgtxt-purple-lightest: #915CE01A;
  --bgtxt-navy-dark: #333D5B;
  --bgtxt-navy-normal: #3A4F8D;
  --bgtxt-navy-light: #3A4F8D4D;
  --bgtxt-navy-lighter: #3A4F8D33;
  --bgtxt-navy-lightest: #3A4F8D1A;
  --txt-black-pure: #000000;
  --txt-black-darkest: #000000D9;
  --txt-black-darker: #00000099;
  --txt-black-dark: #00000066;
  --txt-white-normal: #FFFFFF;
  --bgtxt-absolute-black-dark: #000000;
  --bgtxt-absolute-black-normal: #000000D9;
  --bgtxt-absolute-black-light: #00000099;
  --bgtxt-absolute-black-lighter: #00000066;
  --bgtxt-absolute-black-lightest: #00000033;
  --bgtxt-absolute-white-dark: #FFFFFF;
  --bgtxt-absolute-white-normal: #FFFFFFE6;
  --bgtxt-absolute-white-light: #FFFFFF99;
  --bgtxt-absolute-white-lighter: #FFFFFF66;
  --bgtxt-absolute-white-lightest: #FFFFFF33;
  --bdr-black-dark: #00000026;
  --bdr-black-light: #00000014;
  --bdr-black-lightest: #00000008;
  --bdr-grey-light: #EFEFF0;
  --bdr-white: #FFFFFF;
  --shdw-xlarge: #0000004D;
  --shdw-large: #00000038;
  --shdw-medium: #00000026;
  --shdw-small: #00000014;
  --shdw-base: #0000000D;
  --shdw-inner-base: #FFFFFF1F;
  --inverted-bg-white-high: #464748;
  --inverted-bg-white-normal: #242428;
  --inverted-bg-white-low: #313234;
  --inverted-bg-gnb: #464748CC;
  --inverted-bg-navi: #313234CC;
  --inverted-bg-header: #313234;
  --inverted-bg-header-float: #313234CC;
  --inverted-bg-lounge: #313234E6;
  --inverted-bg-black-darkest: #FFFFFF99;
  --inverted-bg-black-darker: #FFFFFF66;
  --inverted-bg-black-dark: #FFFFFF33;
  --inverted-bg-black-light: #FFFFFF1F;
  --inverted-bg-black-lighter: #FFFFFF14;
  --inverted-bg-black-lightest: #FFFFFF0D;
  --inverted-bg-grey-darkest: #FFFFFF;
  --inverted-bg-grey-dark: #A7A7AA;
  --inverted-bg-grey-dim-lightest: #2A2B2DCC;
  --inverted-bg-grey-light: #464748;
  --inverted-bg-grey-lighter: #313234;
  --inverted-bg-grey-lightest: #2A2B2D;
  --inverted-bg-white-dim-dark: #00000099;
  --inverted-bg-white-dim-light: #00000033;
  --inverted-bgtxt-blue-dark: #5E56F0;
  --inverted-bgtxt-blue-normal: #6687FF;
  --inverted-bgtxt-blue-light: #6687FF66;
  --inverted-bgtxt-blue-lighter: #6687FF4D;
  --inverted-bgtxt-blue-lightest: #6687FF33;
  --inverted-bgtxt-cobalt-dark: #329BE7;
  --inverted-bgtxt-cobalt-normal: #47C8FF;
  --inverted-bgtxt-cobalt-light: #47C8FF66;
  --inverted-bgtxt-cobalt-lighter: #47C8FF4D;
  --inverted-bgtxt-cobalt-lightest: #47C8FF33;
  --inverted-bgtxt-teal-dark: #0FB3A3;
  --inverted-bgtxt-teal-normal: #3CDDCD;
  --inverted-bgtxt-teal-light: #3CDDCD66;
  --inverted-bgtxt-teal-lighter: #3CDDCD4D;
  --inverted-bgtxt-teal-lightest: #3CDDCD33;
  --inverted-bgtxt-green-dark: #31A552;
  --inverted-bgtxt-green-normal: #3ACF5A;
  --inverted-bgtxt-green-light: #3ACF5A66;
  --inverted-bgtxt-green-lighter: #3ACF5A4D;
  --inverted-bgtxt-green-lightest: #3ACF5A33;
  --inverted-bgtxt-olive-dark: #A0A540;
  --inverted-bgtxt-olive-normal: #CAD548;
  --inverted-bgtxt-olive-light: #CAD54866;
  --inverted-bgtxt-olive-lighter: #CAD5484D;
  --inverted-bgtxt-olive-lightest: #CAD54833;
  --inverted-bgtxt-yellow-dark: #EDBC40;
  --inverted-bgtxt-yellow-normal: #FDD353;
  --inverted-bgtxt-yellow-light: #FDD35366;
  --inverted-bgtxt-yellow-lighter: #FDD3534D;
  --inverted-bgtxt-yellow-lightest: #FDD35333;
  --inverted-bgtxt-orange-dark: #F4800B;
  --inverted-bgtxt-orange-normal: #FFAB5C;
  --inverted-bgtxt-orange-light: #FFAB5C66;
  --inverted-bgtxt-orange-lighter: #FFAB5C4D;
  --inverted-bgtxt-orange-lightest: #FFAB5C33;
  --inverted-bgtxt-red-dark: #E94E58;
  --inverted-bgtxt-red-normal: #FF5C5C;
  --inverted-bgtxt-red-light: #FF5C5C66;
  --inverted-bgtxt-red-lighter: #FF5C5C4D;
  --inverted-bgtxt-red-lightest: #FF5C5C33;
  --inverted-bgtxt-pink-dark: #CB48AD;
  --inverted-bgtxt-pink-normal: #EC6FD3;
  --inverted-bgtxt-pink-light: #EC6FD366;
  --inverted-bgtxt-pink-lighter: #EC6FD34D;
  --inverted-bgtxt-pink-lightest: #EC6FD333;
  --inverted-bgtxt-purple-dark: #915CE0;
  --inverted-bgtxt-purple-normal: #B570FF;
  --inverted-bgtxt-purple-light: #B570FF66;
  --inverted-bgtxt-purple-lighter: #B570FF4D;
  --inverted-bgtxt-purple-lightest: #B570FF33;
  --inverted-bgtxt-navy-dark: #3A4F8D;
  --inverted-bgtxt-navy-normal: #647CC9;
  --inverted-bgtxt-navy-light: #647CC966;
  --inverted-bgtxt-navy-lighter: #647CC94D;
  --inverted-bgtxt-navy-lightest: #647CC933;
  --inverted-txt-black-pure: #FFFFFF;
  --inverted-txt-black-darkest: #FFFFFFCC;
  --inverted-txt-black-darker: #FFFFFF99;
  --inverted-txt-black-dark: #FFFFFF66;
  --inverted-txt-white-normal: #242428;
  --inverted-bgtxt-absolute-black-dark: #000000;
  --inverted-bgtxt-absolute-black-normal: #000000D9;
  --inverted-bgtxt-absolute-black-light: #00000099;
  --inverted-bgtxt-absolute-black-lighter: #00000066;
  --inverted-bgtxt-absolute-black-lightest: #00000033;
  --inverted-bgtxt-absolute-white-dark: #FFFFFF;
  --inverted-bgtxt-absolute-white-normal: #FFFFFFE6;
  --inverted-bgtxt-absolute-white-light: #FFFFFF99;
  --inverted-bgtxt-absolute-white-lighter: #FFFFFF66;
  --inverted-bgtxt-absolute-white-lightest: #FFFFFF33;
  --inverted-bdr-black-dark: #FFFFFF33;
  --inverted-bdr-black-light: #FFFFFF1F;
  --inverted-bdr-black-lightest: #FFFFFF0D;
  --inverted-bdr-grey-light: #464748;
  --inverted-bdr-white: #464748;
  --inverted-shdw-xlarge: #00000099;
  --inverted-shdw-large: #00000066;
  --inverted-shdw-medium: #00000033;
  --inverted-shdw-small: #00000026;
  --inverted-shdw-base: #00000014;
  --inverted-shdw-inner-base: #FFFFFF14;
}
