@use '../../../styles/mixins/dimension';
@use '../../../styles/mixins/interaction';

.CheckIcon {
  transition: none;

  &:where([data-state='unchecked']) {
    visibility: hidden;
  }
}

.Checkbox {
  all: unset;

  /* stylelint-disable-next-line order/order */
  @include dimension.square(18px);

  @include interaction.touchable-hover {
    &:where(:not([data-disabled], [data-state='unchecked'])) {
      background-color: var(--bgtxt-green-dark);
    }

    &:where(:not([data-disabled])[data-state='unchecked']) .CheckIcon {
      visibility: visible;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1px;

  background-color: var(--bg-white-normal);
  border-radius: 7px;
  box-shadow: inset 0 0 0 2px var(--bdr-black-dark);

  &:where([data-disabled]) {
    background-color: var(--bg-black-dark);
    box-shadow: none;
  }

  &[data-invalid] {
    box-shadow: var(--input-box-shadow-invalid)
  }

  &:where([data-state='checked'], [data-state='indeterminate']) {
    background-color: var(--bgtxt-green-normal);

    &:where(:not([data-invalid])) {
      box-shadow: none;
    }
  }

  &:where(:focus-visible) {
    box-shadow: var(--input-box-shadow-focused);

    &:where(:not([data-disabled])[data-state='unchecked']) .CheckIcon {
      visibility: visible;
    }
  }
}

.Container {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;

  &:where(:has(.Checkbox[data-disabled])) {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
  }

  &:where(:has(.Label)) {
    height: 36px;
  }
}

/**
 * NOTE: When using the `Text` component in combination with the `as` prop,
 * radix-ui lib does not bind the mouse-enter(hover) and click handler.
 */
.Label {
  /* TODO: Typography size 14 */
  cursor: inherit;

  display: flex;
  align-items: center;

  height: 100%;
  padding-left: 12px;

  color: var(--txt-black-darkest);
}
