$modalPadding: 24;
$headerBodyGap: 12;
$footerTopGap: 16;

$closeIconButtonMarginX: -6;
$closeIconButtonMarginY: -6;

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(0, -2%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

.ModalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--b-modal-z-index);
  display: grid;
  place-items: center;
  padding: var(--b-modal-collision-padding);
  overflow-y: auto;
  background-color: var(--bgtxt-absolute-black-lighter);

  &:where([data-state='open']) {
    animation: overlayShow var(--transition-duration-m) var(--transition-timing-function-default);
  }
}

.ModalContent {
  position: relative;
  box-sizing: border-box;
  width: var(--b-modal-width);
  min-width: 360px;
  max-width: 100vw;
  height: var(--b-modal-height);
  max-height: 100%;
  overflow: visible;
  border-radius: var(--radius-20);
  background-color: var(--bg-white-high);
  box-shadow: var(--ev-4);
  color: var(--bg-grey-darkest);
  word-break: break-word;

  &:where([data-state='open']) {
    animation: contentShow var(--transition-duration-m) var(--transition-timing-function-default);
  }

  &:focus {
    outline: none;
  }

  /* NOTE(@ed): to show a focus ring when the modal is mounted */
  & [data-component='BezierButton']:focus {
    outline: 3px solid var(--bgtxt-cobalt-light);
  }
}

.ModalSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ModalBody {
  flex: 1;
  padding: #{$modalPadding}px;
}

.ModalHeader {
  display: flex;
  flex-direction: column;
  padding: #{$modalPadding}px #{$modalPadding}px 0 #{$modalPadding}px;
  gap: 12px;

  /* NOTE(@ed): Support when ModalBody is used as stand-alone */
  &:where(:not(.hidden)) + :is(.ModalBody, * .ModalBody) {
    padding-top: #{$headerBodyGap}px;
  }
}

.ModalFooter {
  display: flex;
  padding: #{$footerTopGap}px #{$modalPadding}px #{$modalPadding}px;

  /* NOTE(@ed): Support when ModalFooter is used without ModalBody */
  :is(.ModalBody + &, .ModalBody + * &) {
    padding-top: 0;
    margin-top: #{$footerTopGap - $modalPadding}px;
  }
}

.TitleContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 6px;
}

.HeadingGroup {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  gap: 4px;
}

.Title {
  width: 100%;
}

.CloseIconButton {
  position: absolute;
  top: #{$modalPadding + $closeIconButtonMarginY}px;
  right: #{$modalPadding + $closeIconButtonMarginX}px;
}

.CloseIconButtonSpacer {
  margin-top: #{$closeIconButtonMarginY}px;
  margin-right: #{$closeIconButtonMarginX}px;
  pointer-events: none;
  visibility: hidden;
}

.FooterLeftContent {
  margin-right: auto;
}

.FooterRightContent {
  margin-left: auto;
}
