@use '../../styles/mixins/state';

.Icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  color: var(--color-icon-neutral-heavy);
}

.BaseItem {
  overflow: hidden;
  display: flex;
  gap: 8px;
  align-items: center;

  box-sizing: border-box;
  width: 100%;

  color: var(--color-text-neutral);
  text-align: inherit;
  text-decoration: none;

  background-color: transparent;
  border: 0;
  border-radius: var(--radius-8);
  outline: none;

  transition:
    background-color var(--motion-transition-fast),
    color var(--motion-transition-fast);

  &:where(.size-m) {
    min-height: 32px;
    padding: 4px 8px;
  }

  &:where(.interactive) {
    cursor: pointer;
  }

  &:where(.active) {
    background-color: var(--color-fill-neutral-light);
  }

  &:where([data-highlighted]) {
    background-color: var(--color-fill-neutral-lighter);
  }

  &:where(.disabled) {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
  }

  &:where(.destructive) {
    color: var(--color-text-critical);

    .Icon {
      color: var(--color-icon-critical);
    }
  }

  &:where(:focus-visible) {
    @include state.focus-ring($gap: 0);
  }

  &:where(.interactive:not(.disabled, .active, [data-highlighted], :disabled)) {
    &:hover {
      background-color: var(--color-fill-neutral-lighter);
    }
  }
}

.ContentWrapper {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;

  min-width: 0;
}

.Content {
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  align-items: flex-start;

  width: 100%;
  min-width: 0;

  &:where(.single-line) {
    align-items: center;
  }
}

.LeadingContent {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
}

.ContentBody {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: flex-start;

  min-width: 0;
}

.MainContent {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  align-items: center;

  width: 100%;
  min-width: 0;

  > * {
    min-width: 0;
    max-width: 100%;
  }
}

.Description {
  overflow: hidden;
  display: flex;
  align-items: flex-start;

  box-sizing: border-box;
  width: 100%;
  min-width: 0;

  &:where(.has-leading-content) {
    padding-left: 28px;
  }
}

.TrailingContent {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  min-height: 20px;

  color: var(--color-text-neutral-light);
  white-space: nowrap;
}
