version: 2.1

orbs:
  node: circleci/node@5.2.0
  codecov: codecov/codecov@4.0.1

references:
  workspace_root: &workspace_root /home/circleci/bezier-react

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

  build_cache_paths: &build_cache_paths
    paths:
      - node_modules/.cache/turbo

  lint_cache_paths: &lint_cache_paths
    paths:
      - node_modules/.cache/turbo
      # - packages/bezier-react/.stylelintcache
      # - packages/bezier-react/.eslintcache
      # - packages/bezier-icons/.eslintcache
      # - packages/bezier-figma-plugin/.eslintcache
      # - packages/bezier-codemod/.eslintcache

  test_cache_paths: &test_cache_paths
    paths:
      - node_modules/.cache/turbo
      # - packages/bezier-react/.jestcache
      # - packages/bezier-icons/.jestcache
      # - packages/bezier-figma-plugin/.jestcache
      # - packages/bezier-codemod/.jestcache

executors:
  node_executor:
    docker:
      - image: node:18.18.2
    resource_class: xlarge
    working_directory: *workspace_root

jobs:
  install:
    executor: node_executor
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .

  build:
    executor: node_executor
    steps:
      - *attach_workspace
      - restore_cache:
          keys:
            - build-{{ .Environment.CACHE_VERSION }}-{{ .Branch }}-
            - build-{{ .Environment.CACHE_VERSION }}-
      - run: yarn build
      - save_cache:
          key: build-{{ .Environment.CACHE_VERSION }}-{{ .Branch }}-{{ epoch }}
          <<: *build_cache_paths
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .

  lint:
    executor: node_executor
    steps:
      - *attach_workspace
      - restore_cache:
          keys:
            - lint-{{ .Environment.CACHE_VERSION }}-{{ .Branch }}-
            - lint-{{ .Environment.CACHE_VERSION }}-
      - run: yarn lint --dry-run=json
      - run: yarn lint
      - run: yarn lint --dry-run=json
      - save_cache:
          key: lint-{{ .Environment.CACHE_VERSION }}-{{ .Branch }}-{{ epoch }}
          <<: *lint_cache_paths

  typecheck:
    executor: node_executor
    steps:
      - *attach_workspace
      - run: yarn typecheck --dry-run=json
      - run: yarn typecheck
      - run: yarn typecheck --dry-run=json

  test:
    executor: node_executor
    steps:
      - *attach_workspace
      # - restore_cache:
      #     keys:
      #       - test-{{ .Environment.CACHE_VERSION }}-{{ .Branch }}-
      #       - test-{{ .Environment.CACHE_VERSION }}-
      - run: yarn test --dry-run=json
      - run: yarn test --dry-run=json
      - codecov/upload:
          file: './packages/bezier-react/coverage/lcov.info'
      # - save_cache:
      #     key: test-{{ .Environment.CACHE_VERSION }}-{{ .Branch }}-{{ epoch }}
      #     <<: *test_cache_paths

workflows:
  ci:
    jobs:
      - install
      - build:
          requires:
            - install
      # - lint:
      #     requires:
      #       - build
      - typecheck:
          requires:
            - build
      - test:
          requires:
            - build
