version: 2.1

orbs:
  codecov: codecov/codecov@1.2.0

references:
  workspace_root: &workspace_root
    /home/circleci/bezier-react

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

defaults: &defaults
  resource_class: large
  working_directory: *workspace_root

  docker:
    - image: node:16.2.0

filter_only_tagged: &filter_only_tagged
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

jobs:
  install:
    <<: *defaults
    environment:
      TURBO_TOKEN: $TURBO_TOKEN
      TURBO_TEAM: $TURBO_TEAM
    steps:
      - checkout
      - restore_cache:
          keys:
          - bezier-react-dependencies-{{ checksum "package.json" }}
      - run: 
          name: Install dependencies
          command: npm ci
      - run:
          name: Build icon package
          command: npm run build:icon
      - save_cache:
          paths:
            - node_modules
          key: bezier-react-dependencies-{{ checksum "package.json" }}
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .

  lint:
    <<: *defaults
    steps:
      - *attach_workspace
      - run: npm run lint

  typecheck:
    <<: *defaults
    steps:
      - *attach_workspace
      - run: npm run typecheck

  jest:
    <<: *defaults
    steps:
      - *attach_workspace
      - run: npm run jest
      - codecov/upload:
          file: './packages/bezier-react/coverage/lcov.info'
          token: $CODECOV_TOKEN

  release:
    <<: *defaults
    steps:
      - *attach_workspace
      - run: npm run release

workflows:
  version: 2
  test_n_release:
    jobs:
      - install
      - lint:
          requires:
            - install
      - typecheck:
          requires:
            - install
      - jest:
          requires:
            - install
      - release:
          requires:
            - lint
            - typecheck
            - jest
