.Banner {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;

  min-width: 200px;
  padding: 12px;

  text-align: left;

  border-radius: var(--radius-12);

  &:where(.variant-default) {
    background-color: var(--bg-black-lighter);

    & :where(.Content, .Icon, .Link) {
      color: var(--txt-black-darker);
    }
  }

  &:where(.variant-blue) {
    background-color: var(--bgtxt-blue-lightest);

    & :where(.Content, .Icon, .Link) {
      color: var(--bgtxt-blue-normal);
    }
  }

  &:where(.variant-cobalt) {
    background-color: var(--bgtxt-cobalt-lightest);

    & :where(.Content, .Icon, .Link) {
      color: var(--bgtxt-cobalt-normal);
    }
  }

  &:where(.variant-green) {
    background-color: var(--bgtxt-green-lightest);

    & :where(.Content, .Icon, .Link) {
      color: var(--bgtxt-green-normal);
    }
  }

  &:where(.variant-orange) {
    background-color: var(--bgtxt-orange-lightest);

    & :where(.Content, .Icon, .Link) {
      color: var(--bgtxt-orange-normal);
    }
  }

  &:where(.variant-red) {
    background-color: var(--bgtxt-red-lightest);

    & :where(.Content, .Icon, .Link) {
      color: var(--bgtxt-red-normal);
    }
  }

  &:where(.variant-alt) {
    background-color: var(--bg-grey-lighter);
    box-shadow: var(--ev-2);

    & :where(.Content, .Link) {
      color: var(--txt-black-darker);
    }

    & :where(.Icon) {
      color: var(--bgtxt-red-normal);
    }
  }

  & + & {
    margin-top: 6px;
  }
}

.Center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content {
  flex: 1;
  align-self: center;
}

.Link {
  cursor: pointer;
  margin-left: 2px;
  text-decoration: underline;
}
