@use '../../styles/mixins/dimension';

@use '../Icon/Icon.module';

$chromatic-colors: 'blue', 'red', 'green', 'cobalt', 'orange', 'pink', 'purple';

.FloatingIconButton {
  $primary-color-map: (
    blue: --alpha-primary-bg-normal,
    cobalt: --alpha-accent-bg-normal,
    red: --alpha-critical-bg-normal,
    orange: --alpha-warning-bg-normal,
    green: --alpha-success-bg-normal,
    pink: --alpha-bg-pink-normal,
    purple: --alpha-bg-purple-normal,
    dark-grey: --alpha-bg-grey-darkest,
    light-grey: --alpha-bg-grey-dark,
  );
  $color-map: (
    blue: --alpha-primary-fg-normal,
    cobalt: --alpha-accent-fg-normal,
    red: --alpha-critical-fg-normal,
    orange: --alpha-warning-fg-normal,
    green: --alpha-success-fg-normal,
    pink: --alpha-fg-pink-normal,
    purple: --alpha-fg-purple-normal,
    dark-grey: --alpha-fg-black-darker,
    light-grey: --alpha-fg-black-dark,
  );
  $hovered-color-map: (
    blue: --alpha-primary-fg-dark,
    cobalt: --alpha-accent-fg-dark,
    red: --alpha-critical-fg-dark,
    orange: --alpha-warning-fg-dark,
    green: --alpha-success-fg-dark,
    pink: --alpha-fg-pink-dark,
    purple: --alpha-fg-purple-dark,
    dark-grey: --alpha-fg-black-darkest,
    light-grey: --alpha-fg-black-darker,
  );

  position: relative;

  box-sizing: border-box;

  border-radius: 9999px;
  box-shadow: var(--alpha-shadow-2);

  transition: background-color var(--transition-s);

  /* dimension */
  &:where(.size-xs) {
    @include dimension.square(20px);

    padding: 2px;
  }

  &:where(.size-s) {
    @include dimension.square(24px);

    padding: 4px;
  }

  &:where(.size-m) {
    @include dimension.square(36px);

    padding: 8px;
  }

  &:where(.size-l) {
    @include dimension.square(44px);

    padding: 12px;
  }

  &:where(.size-xl) {
    @include dimension.square(54px);

    padding: 15px;
  }

  /* background-color */
  &:where(.variant-primary) {
    @each $color, $background-color in $primary-color-map {
      &:where(.color-#{'' + $color}) {
        background-color: var(#{$background-color});
      }
    }
  }

  &:where(.variant-secondary) {
    background-color: var(--alpha-bg-white-higher);
  }

  /* color */
  /* stylelint-disable-next-line no-duplicate-selectors */
  &:where(.variant-primary) {
    color: var(--alpha-fg-absolute-white-dark);

    &:where(.color-dark-grey) {
      color: var(--alpha-fg-white-normal);
    }

    &:where(.color-light-grey) {
      color: var(--alpha-fg-absolute-white-dark);
    }
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &:where(.variant-secondary) {
    @each $color, $icon-color in $color-map {
      &:where(.color-#{'' + $color}) {
        color: var(#{$icon-color});
      }
    }
  }

  /* TODO: use v2 token when design is specified */

  /* visual effect on interaction */
  &:where(.active, :hover):where(:not(:disabled)) {
    box-shadow: var(--alpha-shadow-3);

    &:where(.variant-primary) {
      @each $color, $background-color in $primary-color-map {
        &:where(.color-#{'' + $color}) {
          background-color: var(#{$background-color}-hovered);
        }
      }
    }

    &:where(.variant-secondary) {
      @each $color, $hovered-color in $hovered-color-map {
        &:where(.color-#{'' + $color}) {
          /* stylelint-disable-next-line bezier/validate-token */
          color: var(#{$hovered-color});
        }
      }
    }
  }

  &:where(.variant-primary.color-blue:focus-visible) {
    outline: 3px solid var(--bgtxt-blue-light);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--alpha-opacity-disabled);
  }

  /* internal components */
  & :where(.ButtonContent) {
    display: flex;
    align-items: center;
    justify-content: center;

    &:where(.loading) {
      visibility: hidden;
    }
  }

  & :where(.ButtonLoader) {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @each $size, $value in Icon.$size-map {
      &:where(.size-#{$size}) {
        & :is(.Loader) {
          @include dimension.square(#{$value}px);
        }
      }
    }
  }
}
