@use '../../styles/mixins/dimension';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Spinner {
  --b-v3-spinner-color: initial;

  display: inline-block;
  flex-shrink: 0;

  box-sizing: border-box;

  border-style: solid;
  border-top-color: transparent;
  border-right-color: var(--b-v3-spinner-color);
  border-bottom-color: var(--b-v3-spinner-color);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  border-left-color: var(--b-v3-spinner-color);
  border-radius: 50%;

  animation: spin 1s linear infinite;

  &:where(.size-xl) {
    @include dimension.square(48px);

    border-width: 6px;
  }

  &:where(.size-l) {
    @include dimension.square(24px);

    border-width: 3px;
  }

  &:where(.size-m) {
    @include dimension.square(20px);

    border-width: 2.5px;
  }

  &:where(.size-s) {
    @include dimension.square(16px);

    border-width: 2px;
  }

  &:where(.size-xs) {
    @include dimension.square(12px);

    border-width: 1.5px;
  }
}
