@use '../../styles/mixins/dimension';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Spinner {
  --b-v3-spinner-color: initial;

  display: inline-block;
  flex-shrink: 0;

  box-sizing: border-box;

  border-style: solid;
  border-top-color: transparent;
  border-right-color: var(--b-v3-spinner-color);
  border-bottom-color: var(--b-v3-spinner-color);
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  border-left-color: var(--b-v3-spinner-color);
  border-radius: 50%;

  animation: spin 1s linear infinite;

  &:where(.size-10) {
    @include dimension.square(10px);

    border-width: 1.25px;
  }

  &:where(.size-12) {
    @include dimension.square(12px);

    border-width: 1.5px;
  }

  &:where(.size-16) {
    @include dimension.square(16px);

    border-width: 2px;
  }

  &:where(.size-20) {
    @include dimension.square(20px);

    border-width: 2.5px;
  }

  &:where(.size-24) {
    @include dimension.square(24px);

    border-width: 3px;
  }

  &:where(.size-30) {
    @include dimension.square(30px);

    border-width: 3.75px;
  }

  &:where(.size-36) {
    @include dimension.square(36px);

    border-width: 4.5px;
  }

  &:where(.size-42) {
    @include dimension.square(42px);

    border-width: 5.25px;
  }

  &:where(.size-48) {
    @include dimension.square(48px);

    border-width: 6px;
  }
}
