@mixin tokens {
  --radius-2: 2px;
  --radius-3: 3px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-14: 14px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-32: 32px;
  --radius-44: 44px;
  --radius-42-p: 42%;
  --radius-100-p: 100%;

  --blue-300: #6687FF;
  --blue-400: #5E56F0;
  --blue-500: #4E40C9;

  --cobalt-300: #47C8FF;
  --cobalt-400: #329BE7;
  --cobalt-500: #327AB8;

  --teal-300: #3CDDCD;
  --teal-400: #0FB3A3;
  --teal-500: #449C8A;

  --green-300: #3ACF5A;
  --green-400: #31A552;
  --green-500: #41904F;

  --olive-300: #CAD548;
  --olive-400: #A0A540;
  --olive-500: #818628;

  --yellow-300: #FDD353;
  --yellow-400: #EDBC40;
  --yellow-500: #C39E37;

  --orange-300: #FFAB5C;
  --orange-400: #F4800B;
  --orange-500: #C57417;

  --red-300: #FF5C5C;
  --red-400: #E94E58;
  --red-500: #AC3E46;

  --pink-300: #EC6FD3;
  --pink-400: #CB48AD;
  --pink-500: #A32E92;

  --purple-300: #B570FF;
  --purple-400: #915CE0;
  --purple-500: #6B23B3;

  --navy-300: #647CC9;
  --navy-400: #3A4F8D;
  --navy-500: #333D5B;

  --grey-50: #FCFCFC;
  --grey-100: #F7F7F8;
  --grey-200: #EFEFF0;
  --grey-500: #A7A7AA;
  --grey-700: #464748;
  --grey-800: #313234;
  --grey-850: #2A2B2D;
  --grey-900: #242428;

  --white: #FFFFFF;
  --black: #000000;

  --blue-400-30: #5E56F04D;
  --blue-400-20: #5E56F033;
  --blue-400-10: #5E56F01A;
  --blue-300-40: #6687FF66;
  --blue-300-30: #6687FF4D;
  --blue-300-20: #6687FF33;

  --cobalt-400-30: #329BE74D;
  --cobalt-400-20: #329BE733;
  --cobalt-400-10: #329BE71A;
  --cobalt-300-40: #47C8FF66;
  --cobalt-300-30: #47C8FF4D;
  --cobalt-300-20: #47C8FF33;

  --teal-400-30: #0FB3A34D;
  --teal-400-20: #0FB3A333;
  --teal-400-10: #0FB3A31A;
  --teal-300-40: #3CDDCD66;
  --teal-300-30: #3CDDCD4D;
  --teal-300-20: #3CDDCD33;

  --green-400-30: #31A5524D;
  --green-400-20: #31A55233;
  --green-400-10: #31A5521A;
  --green-300-40: #3ACF5A66;
  --green-300-30: #3ACF5A4D;
  --green-300-20: #3ACF5A33;

  --olive-400-30: #A0A5404D;
  --olive-400-20: #A0A54033;
  --olive-400-10: #A0A5401A;
  --olive-300-40: #CAD54866;
  --olive-300-30: #CAD5484D;
  --olive-300-20: #CAD54833;

  --yellow-400-30: #EDBC404D;
  --yellow-400-20: #EDBC4033;
  --yellow-400-10: #EDBC401A;
  --yellow-300-40: #FDD35366;
  --yellow-300-30: #FDD3534D;
  --yellow-300-20: #FDD35333;

  --orange-400-30: #F4800B4D;
  --orange-400-20: #F4800B33;
  --orange-400-10: #F4800B1A;
  --orange-300-40: #FFAB5C66;
  --orange-300-30: #FFAB5C4D;
  --orange-300-20: #FFAB5C33;

  --red-400-30: #E94E584D;
  --red-400-20: #E94E5833;
  --red-400-10: #E94E581A;
  --red-300-40: #FF5C5C66;
  --red-300-30: #FF5C5C4D;
  --red-300-20: #FF5C5C33;

  --pink-400-30: #CB48AD4D;
  --pink-400-20: #CB48AD33;
  --pink-400-10: #CB48AD1A;
  --pink-300-40: #EC6FD366;
  --pink-300-30: #EC6FD34D;
  --pink-300-20: #EC6FD333;

  --purple-400-30: #915CE04D;
  --purple-400-20: #915CE033;
  --purple-400-10: #915CE01A;
  --purple-300-40: #B570FF66;
  --purple-300-30: #B570FF4D;
  --purple-300-20: #B570FF33;

  --navy-400-30: #3A4F8D4D;
  --navy-400-20: #3A4F8D33;
  --navy-400-10: #3A4F8D1A;
  --navy-300-40: #647CC966;
  --navy-300-30: #647CC94D;
  --navy-300-20: #647CC933;

  --grey-900-90: #242428E6;
  --grey-850-80: #2A2B2DCC;
  --grey-800-90: #313234E6;
  --grey-800-80: #313234CC;
  --grey-700-80: #464748CC;
  --grey-200-80: #EFEFF0CC;
  --grey-100-90: #F7F7F8E6;
  --grey-100-80: #F7F7F8CC;
  --grey-50-80: #FCFCFCCC;

  --white-90: #FFFFFFE6;
  --white-80: #FFFFFFCC;
  --white-60: #FFFFFF99;
  --white-40: #FFFFFF66;
  --white-20: #FFFFFF33;
  --white-12: #FFFFFF1F;
  --white-8: #FFFFFF14;
  --white-5: #FFFFFF0D;

  --black-85: #000000D9;
  --black-60: #00000099;
  --black-40: #00000066;
  --black-30: #0000004D;
  --black-22: #00000038;
  --black-20: #00000033;
  --black-15: #00000026;
  --black-8: #00000014;
  --black-5: #0000000D;
  --black-3: #00000008;

  --line-height-16: 1.6rem;
  --line-height-18: 1.8rem;
  --line-height-20: 2.0rem;
  --line-height-22: 2.2rem;
  --line-height-24: 2.4rem;
  --line-height-28: 2.8rem;
  --line-height-32: 3.2rem;
  --line-height-44: 4.4rem;

  --font-weight-400: 400;
  --font-weight-700: 700;

  --font-size-11: 1.1rem;
  --font-size-12: 1.2rem;
  --font-size-13: 1.3rem;
  --font-size-14: 1.4rem;
  --font-size-15: 1.5rem;
  --font-size-16: 1.6rem;
  --font-size-17: 1.7rem;
  --font-size-18: 1.8rem;
  --font-size-22: 2.2rem;
  --font-size-24: 2.4rem;
  --font-size-36: 3.6rem;

  --letter-spacing-0: 0;
  --letter-spacing-m-1: -0.1;
  --letter-spacing-m-4: -0.4;
  --letter-spacing-m-10: -1;

  --paragraph-spacing-0: 0;

  --text-case-none: none;
  --text-decoration-none: none;

  --back-drop: 60px;

  --animation-duration-50: animation-duration: 50ms;;
  --animation-easing: animation-timing-function: ease-out;;
}
