@use "../../../../styles/mixins/typography";

.TextFieldInput {
  @include typography.size-14;

  width: 100%;
  height: 100%;
  padding: 0;

  color: var(--txt-black-darkest);

  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    color: var(--txt-black-dark);
  }

  &:is(.readonly) {
    color: var(--txt-black-darker)
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.CloseIcon {
  visibility: hidden;
}

.TextFieldWrapper {
  position: relative;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0 12px;

  background-color: var(--bg-grey-lightest);
  border-radius: var(--radius-8);

  transition: border-color var(--transition-s), box-shadow var(--transition-s);

  &:where(.variant-secondary) {
    background-color: var(--bg-black-lightest);
  }


  &:where(.size-28) {
    height: 28px;
  }

  &:where(.size-36) {
    height: 36px;
  }

  &:where(.size-44) {
    height: 44px;

    & .TextFieldInput {
      @include typography.size-16;
    }
  }

  &:where(.size-54) {
    height: 54px;
    border-radius: var(--radius-12);

    & .TextFieldInput {
      @include typography.size-18;
    }
  }

  &:where(.disabled) {
    opacity: var(--opacity-disabled);
  }

  &:where(.variant-primary) {
    box-shadow: var(--input-box-shadow);
  }

  &:where(:has(.TextFieldInput:focus)) {
    box-shadow: var(--input-box-shadow-focused);
  }

  &:where(:has(.TextFieldInput:focus, :hover)) {
    .CloseIcon {
      visibility: visible;
    }
  }

  &:where(.variant-primary):where(.invalid, :not(.disabled, .readonly):has(.TextFieldInput:focus)) {
    background-color: var(--bg-white-normal);
  }

  &:where(.variant-primary):is(.readonly) {
    background-color: var(--bg-grey-lighter);
  }

  &:is(.invalid) {
    box-shadow: var(--input-box-shadow-invalid);
  }
}

.clickable {
  cursor: pointer;
}

.LeftContentWrapper {
  display: flex;
  align-items: center;
  padding-right: 6px;
}

.RightContentWrapper {
  display: flex;
  align-items: center;
  padding-right: 2px;
}

.RightItemWrapper {
  all: unset;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
}

.CloseIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  padding-right: 2px;

  color: var(--txt-black-dark);

  &:hover {
    color: var(--txt-black-darker);
  }
}
