.margin {
  --b-margin: 0;
  --b-margin-x: var(--b-margin);
  --b-margin-y: var(--b-margin);
  --b-margin-top: var(--b-margin-y);
  --b-margin-right: var(--b-margin-x);
  --b-margin-bottom: var(--b-margin-y);
  --b-margin-left: var(--b-margin-x);

  margin: var(--b-margin-top) var(--b-margin-right) var(--b-margin-bottom) var(--b-margin-left);
}
