:where(.radius-2) {
  border-radius: var(--radius-2);
}

:where(.radius-3) {
  border-radius: var(--radius-3);
}

:where(.radius-4) {
  border-radius: var(--radius-4);
}

:where(.radius-6) {
  border-radius: var(--radius-6);
}

:where(.radius-8) {
  border-radius: var(--radius-8);
}

:where(.radius-10) {
  border-radius: var(--radius-10);
}

:where(.radius-12) {
  border-radius: var(--radius-12);
}

:where(.radius-14) {
  border-radius: var(--radius-14);
}

:where(.radius-16) {
  border-radius: var(--radius-16);
}

:where(.radius-20) {
  border-radius: var(--radius-20);
}

:where(.radius-32) {
  border-radius: var(--radius-32);
}

:where(.radius-44) {
  border-radius: var(--radius-44);
}

:where(.radius-42-p) {
  border-radius: var(--radius-42-p);
}

:where(.radius-100-p) {
  border-radius: var(--radius-100-p);
}
