@use 'sass:map';
@use '../../../../../node_modules/@channel.io/bezier-tokens/dist/beta/scss' as *;

@each $radius in map.keys(map.get($tokens, 'light-theme', 'radius')) {
  :where(.radius-#{$radius}) {
    /* stylelint-disable-next-line bezier/validate-token */
    border-radius: var(--radius-#{$radius});
  }
}
