@use '../../styles/mixins/dimension';

$icon-sizes: '10', '12', '16', '20', '24', '36', '44';

.Icon {
  --b-v3-icon-size: initial;
  --b-v3-icon-color: initial;

  @include dimension.square(var(--b-v3-icon-size));

  flex: 0 0 auto;
  color: var(--b-v3-icon-color);
  transition: color var(--motion-transition-fast);

  @each $size in $icon-sizes {
    &:where(.size-#{$size}) {
      --b-v3-icon-size: #{$size}px;
    }
  }
}
