$divider-thickness: 1px;
$divider-margin: 6px;

.SectionLabel {
  all: unset;

  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 28px;

  &:where(:focus-visible) {
    outline: 3px solid var(--bgtxt-cobalt-light);
  }

  &:where(.clickable) {
    cursor: pointer;
  }

  &:where(.divider) {
    margin-top: #{$divider-margin * 2 + $divider-thickness};

    &::before {
      content: '';

      position: absolute;
      top: -#{$divider-thickness + $divider-margin};
      left: $divider-margin;

      display: block;

      width: calc(100% - $divider-margin * 2);
      height: $divider-thickness;

      background-color: var(--bdr-black-light);
      border-radius: $divider-thickness;
    }
  }
}

.LeftContent {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.Content {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.RightContent {
  display: flex;
  align-items: center;
  margin: 0 6px 0 auto;
  padding-left: 6px;
}

.RightItem {
  cursor: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  &:where(.clickable) {
    cursor: pointer;
  }
}

.Help {
  margin-left: 8px;
}
