@use "../../styles/mixins/dimension";

@layer components {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .Spinner {
    --b-spinner-color: inherit;

    display: inline-block;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: var(--b-spinner-color);
    border-bottom-color: var(--b-spinner-color);
    border-left-color: var(--b-spinner-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;

    &.size-xl {
      @include dimension.square(50px);
      border-width: 4px;
    }

    &.size-l,
    &.size-m {
      border-width: 3px;
    }

    &.size-l {
      @include dimension.square(24px);
    }

    &.size-m {
      @include dimension.square(20px);
    }

    &.size-s,
    &.size-xs {
      border-width: 2px;
    }

    &.size-s {
      @include dimension.square(16px);
    }

    &.size-xs {
      @include dimension.square(12px);
    }
  }
}
