@use "../../styles/mixins/dimension";

@layer components {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .Spinner {
    --bezier-spinner-color: inherit;

    display: inline-block;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: var(--bezier-spinner-color);
    border-bottom-color: var(--bezier-spinner-color);
    border-left-color: var(--bezier-spinner-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;

    &.xl {
      @include dimension.square(50px);
      border-width: 4px;
    }

    &.l,
    &.m {
      border-width: 3px;
    }

    &.l {
      @include dimension.square(24px);
    }

    &.m {
      @include dimension.square(20px);
    }

    &.s,
    &.xs {
      border-width: 2px;
    }

    &.s {
      @include dimension.square(16px);
    }

    &.xs {
      @include dimension.square(12px);
    }
  }
}
