.Form {
  width: 100%;
}

.WithDividers {
  display: flex;
  flex-direction: column;
}

.WithoutDividers {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.FormDivider {
  width: 100%;
}

.FormField {
  box-sizing: border-box;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 8px;
}

.LabelTop {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.LabelLeft {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 8px 12px;
  align-items: start;
}

.FormLabelWrapper {
  min-width: 0;

  &:where(.position-left) {
    padding-top: 9px;
  }
}

.FormHelperTextWrapper {
  min-width: 0;

  &:where(.position-left) {
    grid-column: 2;
  }
}

.Label {
  display: flex;
  gap: 6px;
  align-items: center;
  min-width: 0;
}

.LabelText {
  min-width: 0;
}

.FormHelperText {
  min-width: 0;
}

.FormErrorMessage {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.ErrorIcon {
  flex: 0 0 auto;
}
