@layer components {
  .SegmentedControl {
    --b-segmented-control-width: initial;
    --b-segmented-control-item-index: -1;
    --b-segmented-control-item-count: 0;

    --b-segmented-control-height: initial;
    --b-segmented-control-padding: initial;

    position: relative;
    z-index: var(--z-index-base);
    box-sizing: border-box;
    width: var(--b-segmented-control-width);
    height: var(--b-segmented-control-height);
    padding: var(--b-segmented-control-padding);
    background-color: var(--bg-black-lighter);

    &:where(.size-xs) {
      --b-segmented-control-height: 24px;
      --b-segmented-control-padding: 1px;
      border-radius: 6px;

      & :where(.SegmentedControlItem, .SegmentedControlIndicator) {
        border-radius: 4px;
      }

      & :where(.SegmentedControlItem) {
        padding: 1px 0;
      }
    }

    &:where(.size-s) {
      --b-segmented-control-height: 28px;
      --b-segmented-control-padding: 2px;
      border-radius: 8px;

      & :where(.SegmentedControlItem, .SegmentedControlIndicator) {
        border-radius: 6px;
      }

      & :where(.SegmentedControlItem) {
        padding: 2px 0;
      }
    }

    &:where(.size-m) {
      --b-segmented-control-height: 36px;
      --b-segmented-control-padding: 2px;
      border-radius: 8px;

      & :where(.SegmentedControlItem, .SegmentedControlIndicator) {
        border-radius: 6px;
      }

      & :where(.SegmentedControlItem) {
        padding: 6px 0;
      }
    }

    &:where(.size-l) {
      --b-segmented-control-height: 44px;
      --b-segmented-control-padding: 4px;
      border-radius: 12px;

      & :where(.SegmentedControlItem, .SegmentedControlIndicator) {
        border-radius: 8px;
      }

      & :where(.SegmentedControlItem) {
        padding: 8px 0;
      }
    }

    &:where([data-disabled]) {
      opacity: var(--opacity-disabled);

      & :where(.SegmentedControlItem, .SegmentedControlIndicator) {
        cursor: not-allowed;
      }
    }
  }

  .SegmentedControlIndicator {
    position: absolute;
    top: 50%;
    left: var(--b-segmented-control-padding);
    width: calc((100% - ((var(--b-segmented-control-item-count) - 1) * var(--b-divider-thickness)) - (var(--b-segmented-control-padding) * 2)) / var(--b-segmented-control-item-count));
    height: calc(var(--b-segmented-control-height) - (var(--b-segmented-control-padding) * 2));
    background-color: var(--bg-white-high);
    box-shadow: var(--ev-1);
    transform: translateX(calc((var(--b-segmented-control-item-index) * 100%) + var(--b-segmented-control-item-index) * var(--b-divider-thickness))) translateY(-50%);
    transition: transform var(--transition-m);
  }

  .SegmentedControlItem {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-width: 0;
    transition: background-color var(--transition-s);

    &:where([data-checked]) {
      color: var(--txt-black-darkest);
      cursor: default;
    }

    &:where(:not([data-checked])) {
      color: var(--txt-black-dark);
      cursor: pointer;
    }

    &:where(:disabled) {
      cursor: not-allowed;
    }

    /* NOTE: Focus indicator */
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: var(--z-index-floating);
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      border-radius: inherit;
      transition: box-shadow var(--transition-m);
    }

    &:where(:focus-visible) {
      &::after {
        box-shadow: var(--input-box-shadow-focused);
      }
    }

    &:where(:not([data-checked]):not(&:disabled):hover) {
      background-color: var(--bg-black-light);
    }
  }

  .SegmentedControlItemContainer {
    z-index: var(--z-index-floating);
    overflow: hidden;
  }

  .SegmentedControlItemLabel {
    padding: 1px 4px;
  }
}
