@use '../../styles/mixins/typography';

.TextArea {
  font: unset;

  /* stylelint-disable-next-line order/order */
  @include typography.size(14);
  /* stylelint-disable-next-line order/properties-order */
  resize: none;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 8px 12px;

  color: var(--beta-color-text-neutral);
  overflow-wrap: anywhere;

  background-color: var(--beta-color-fill-grey);
  border: none;
  border-radius: var(--beta-radius-8);
  outline: none;
  box-shadow: var(--beta-state-input-default);

  transition:
    border-color var(--beta-motion-transition-fast),
    box-shadow var(--beta-motion-transition-fast);

  &::-webkit-scrollbar {
    display: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--beta-opacity-disabled);
  }

  &:focus {
    background-color: var(--beta-color-surface);
    box-shadow: var(--beta-state-input-active);
  }

  &[aria-invalid='true'] {
    background-color: var(--beta-color-surface);
    box-shadow: var(--beta-state-error);
  }

  &:read-only {
    color: var(--beta-color-text-neutral-light);
    background-color: var(--beta-color-fill-grey-heavy);
  }
}
