.LeftIconWrapper {
  display: flex;
  align-items: center;
  min-width: 20px;
  max-width: 20px;
  margin-right: 8px;
}

.RightContentWrapper {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
  margin-left: 8px;
}

.Wrapper {
  display: block;
}

.Item {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 6px;
  text-decoration: none;
  outline: 0;
  border-radius: var(--radius-6);

  &:where(.active) {
    color: var(--bgtxt-blue-normal);
    background-color: var(--bgtxt-blue-lightest);
  }

  &:where(:not(.active)) {
    color: var(--txt-black-darkest);
    &:hover {
      background-color: var(--bg-black-lighter);
    }

    /*
      ':focus-visible' Pseudo class는 Safari 15.4 이후 지원하기 때문에,
      이를 ':hover' 와 ',' 연산자로 연결할 경우 hover, focus-visible 모두 작동하지 않는 이슈가 있음.
      https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible#browser_compatibility
    */
    &:focus-visible {
      background-color: var(--bg-black-lighter);
    }
  }
}
