@use '../../styles/mixins/dimension';

@keyframes slide-in-left {
  from {
    transform: translateX(-120%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-120%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(120%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(120%);
  }
}

.ToastContainer {
  pointer-events: none;

  position: fixed;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  max-width: 100%;
  max-height: 100vh;
  padding: 16px;
}

.ToastElement {
  pointer-events: auto;

  position: relative;

  display: flex;
  align-items: flex-start;

  width: 288px;
  margin-top: 6px;
  padding: 16px;

  background-color: var(--beta-color-fill-grey-heavy);
  border-radius: var(--beta-radius-12);
  box-shadow: var(--beta-elevation-3);

  &:where(.placement-bottom-left) {
    animation: var(--beta-motion-transition-default) slide-in-left forwards;

    &:where(.slide-out) {
      animation: var(--beta-motion-transition-default) slide-out-left forwards;
    }
  }

  &:where(.placement-bottom-right) {
    animation: var(--beta-motion-transition-default) slide-in-right forwards;

    &:where(.slide-out) {
      animation: var(--beta-motion-transition-default) slide-out-right forwards;
    }
  }
}

.IconWrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 24px;

  &:where(.appearance-success) {
    color: var(--beta-color-text-accent-green);
  }

  &:where(.appearance-warning) {
    color: var(--beta-color-text-accent-orange);
  }

  &:where(.appearance-error) {
    color: var(--beta-color-text-accent-red);
  }

  &:where(.appearance-info) {
    color: var(--beta-color-text-neutral);
  }
}

.Content {
  overflow: hidden;
  display: flex;
  flex: 1;

  margin: 3px 6px;

  color: var(--beta-color-text-neutral);
}

.EllipsisableContent {
  flex: 1;
  word-break: break-word;
}

.Close {
  @include dimension.square(24px);

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  margin-left: auto;

  color: var(--beta-color-text-neutral-light);

  background-color: var(--beta-color-fill-neutral-light);
  border-radius: var(--beta-radius-12);

  &:hover {
    color: var(--beta-color-text-neutral);
    background-color: var(--beta-color-fill-neutral-light);
  }
}
