// Override the default styles for the Storybook docs
:where(*:not(code, pre)) {
  font-family: var(--beta-typography-text-font-family) !important;
}

:where(code, pre),
:where(code, pre) * {
  font-family: var(--beta-typography-code-font-family) !important;
}

.Wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.Story {
  height: 100%;
  padding: 40px;
  background-color: var(--beta-color-surface);
}
