.Banner {
  --b-v3-banner-color: initial;
  --b-v3-banner-icon-color: var(--b-v3-banner-color);
  --b-v3-banner-background-color: initial;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-start;

  box-sizing: border-box;
  min-width: 200px;
  padding: 12px;

  color: var(--b-v3-banner-color);
  text-align: left;

  background-color: var(--b-v3-banner-background-color);
  border-radius: var(--radius-12);

  &:where(.variant-default) {
    --b-v3-banner-color: var(--color-text-neutral-light);
    --b-v3-banner-background-color: var(--color-fill-neutral-light);
  }

  &:where(.variant-blue) {
    --b-v3-banner-color: var(--color-text-accent-blue);
    --b-v3-banner-background-color: var(--color-fill-accent-blue);
  }

  &:where(.variant-cobalt) {
    --b-v3-banner-color: var(--color-text-accent-cobalt);
    --b-v3-banner-background-color: var(--color-fill-accent-cobalt);
  }

  &:where(.variant-green) {
    --b-v3-banner-color: var(--color-text-accent-green);
    --b-v3-banner-background-color: var(--color-fill-accent-green);
  }

  &:where(.variant-orange) {
    --b-v3-banner-color: var(--color-text-accent-orange);
    --b-v3-banner-background-color: var(--color-fill-accent-orange);
  }

  &:where(.variant-red) {
    --b-v3-banner-color: var(--color-text-accent-red);
    --b-v3-banner-background-color: var(--color-fill-accent-red);
  }

  & + & {
    margin-top: 6px;
  }
}

.IconWrapper,
.ActionWrapper {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;

  height: 24px;
}

.Content {
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  gap: 4px;
  align-items: flex-start;

  min-width: 1px;
  padding: 3px 0;

  word-break: break-word;
}

.Message {
  flex: 1 0 0;
  min-width: 1px;
}

.Icon {
  color: var(--b-v3-banner-icon-color);
}

.Text,
.Link {
  color: var(--b-v3-banner-color);
}

.Anchor {
  color: inherit;
  text-decoration: none;
}

.Link {
  cursor: pointer;
  flex: 0 0 auto;
  text-decoration: underline;
  white-space: nowrap;
}
