@layer components {
  .Tooltip {
    z-index: var(--z-index-tooltip);

    box-sizing: border-box;
    width: max-content;
    max-width: 260px;
    height: max-content;
    padding: 5px 8px;
    word-break: normal;
    word-wrap: break-word;

    background-color: var(--bg-white-low);
    overflow: hidden;
    border-radius: var(--radius-8);
    box-shadow: var(--ev-3);

    .container {
      overflow: hidden;
    }

    .content {
      white-space: pre-wrap;
    }
  }
}
