@use "../../styles/mixins/typography";

@layer components {
  .tooltip-content {
    z-index: var(--z-index-tooltip);

    box-sizing: border-box;
    width: max-content;
    max-width: 260px;
    height: max-content;
    padding: 5px 8px;
    word-break: normal;
    word-wrap: break-word;

    background-color: var(--bg-white-low);
    overflow: hidden;
    border-radius: var(--radius-8);
    box-shadow: var(--ev-3);
  }

  .text-container {
    overflow: hidden;
  }

  .content {
    @include typography.ellipsis(20, var(--font-line-height-18));
    white-space: pre-wrap;
  }

  .icon {
    /**
    * TODO: padding is not applied properly. 
    * change to MarginProps of Icon component
    */
    padding: 1px;
  }
}