.Tooltip {
  z-index: var(--layer-z-index-tooltip);

  overflow: hidden;

  box-sizing: border-box;
  width: max-content;
  max-width: 260px;
  height: max-content;
  padding: 5px 8px;

  word-break: normal;
  word-wrap: break-word;

  background-color: var(--color-surface-high);
  border-radius: var(--radius-8);
  box-shadow: var(--elevation-3);
}

.TooltipContainer {
  overflow: hidden;
}

.TooltipContent {
  white-space: pre-wrap;
}

.Icon {
  padding: 1px;
}
