@layer components {
  .margin {
    --margin-all: var(--bezier-margin-all, 0);

    margin:
      var(--bezier-margin-top, var(--bezier-margin-y, var(--margin-all)))
      var(--bezier-margin-right, var(--bezier-margin-x, var(--margin-all)))
      var(--bezier-margin-bottom, var(--bezier-margin-y, var(--margin-all)))
      var(--bezier-margin-left, var(--bezier-margin-x, var(--margin-all)));
  }

  .layout {
    --padding-all: var(--bezier-padding-all, 0);
    --border-width: var(--bezier-border-width, 0);
    --overflow: var(--bezier-overflow, visible);

    padding:
      var(--bezier-padding-top, var(--bezier-padding-y, var(--padding-all)))
      var(--bezier-padding-right, var(--bezier-padding-x, var(--padding-all)))
      var(--bezier-padding-bottom, var(--bezier-padding-y, var(--padding-all)))
      var(--bezier-padding-left, var(--bezier-padding-x, var(--padding-all)));

    width: var(--bezier-width, auto);
    height: var(--bezier-height, auto);
    max-width: var(--bezier-max-width, none);
    max-height: var(--bezier-max-height, none);
    min-width: var(--bezier-min-width, none);
    min-height: var(--bezier-min-height, none);

    position: var(--bezier-position, static);
    inset: var(--bezier-inset, auto);
    top: var(--bezier-top, auto);
    right: var(--bezier-right, auto);
    bottom: var(--bezier-bottom, auto);
    left: var(--bezier-left, auto);

    flex-shrink: var(--bezier-flex-shrink, 1);
    flex-grow: var(--bezier-flex-grow, 0);

    background-color: var(--bezier-background-color, transparent);

    border-color: var(--bezier-border-color, transparent);
    border-radius: var(--bezier-border-radius, 0);
    border-top-width: var(--bezier-border-top-width, var(--border-width));
    border-right-width: var(--bezier-border-right-width, var(--border-width));
    border-bottom-width: var(--bezier-border-bottom-width, var(--border-width));
    border-left-width: var(--bezier-border-left-width, var(--border-width));
    border-style: var(--bezier-border-style, solid);

    box-shadow: var(--bezier-elevation, none);

    z-index: var(--bezier-z-index, auto);

    overflow-x: var(--bezier-overflow-x, var(--overflow));
    overflow-y: var(--bezier-overflow-y, var(--overflow));
  }

  .display-block {
    display: block;
  }

  .display-inline-block {
    display: inline-block;
  }

  .display-inline {
    display: inline;
  }
}
