.FormLabel {
  position: relative;

  &:where(.top-position) {
    padding: 0 2px;
    margin-bottom: 4px;
  }

  &:where(.left-position) {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    align-items: center;
    align-self: start;
    height: var(--b-form-control-left-label-wrapper-height);
  }
}

.LabelText {
  display: block;
  word-break: break-word;
}
