.DropdownMenu {
  pointer-events: auto;

  overflow: hidden auto;

  box-sizing: border-box;
  width: var(--b-v3-dropdown-menu-width);
  max-height: var(--b-v3-dropdown-menu-max-height);
  padding: 6px;

  background-color: var(--color-surface-highest);
  border-radius: var(--radius-16);
  box-shadow:
    var(--elevation-2),
    inset 0 0 2px 0 var(--color-elevation-base-inner);
}

.DropdownMenuContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.DropdownMenuSeparator {
  flex-shrink: 0;
  margin: 4px 0;
}

.SubChevron {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: var(--color-icon-neutral);
}

.SubmenuOverlayContainer {
  pointer-events: none;
}
