@mixin focus-ring($gap: 3px, $thickness: 1.5px) {
  outline: $thickness solid var(--color-state-focus);
  outline-offset: $gap;
}

@mixin error-ring($gap: 3px, $thickness: 1.5px) {
  outline: $thickness solid var(--color-state-warning);
  outline-offset: $gap;
}
