@use '../../styles/mixins/state';

.Section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}

.SectionHeader {
  min-width: 0;
  margin-bottom: 6px;
}

.SectionLabel {
  &:where([role='button']) {
    cursor: pointer;
    user-select: none;
    outline: none;

    &:where(:focus-visible) {
      @include state.focus-ring($gap: 0);
    }

    &:where([aria-disabled='true']) {
      cursor: not-allowed;
    }
  }
}

.LabelIcon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  color: var(--color-icon-neutral-heavy);
}

.SectionBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.SectionItem {
  &:where(.active) {
    :where(svg) {
      color: var(--color-icon-neutral-heavier);
    }
  }
}
