.SelectContainer {
  position: relative;
}

.SelectTrigger {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  height: var(--b-form-field-size);
  padding: 8px 12px;

  color: var(--beta-color-text-neutral);

  background-color: var(--beta-color-fill-grey);
  border-radius: var(--beta-radius-8);
  box-shadow: var(--beta-state-input-default);

  transition:
    background-color var(--beta-motion-transition-fast),
    box-shadow var(--beta-motion-transition-fast);

  &.readonly {
    cursor: initial;
    color: var(--beta-color-text-neutral-light);
    background-color: var(--beta-color-fill-grey-heavy);
  }

  &.invalid {
    box-shadow: var(--beta-state-error);
  }

  &:where(:disabled) {
    cursor: not-allowed;
    opacity: var(--beta-opacity-disabled);
  }

  &:where(:not(:disabled):where(.active, :focus)) {
    background-color: var(--beta-color-fill-grey-heavy);
    outline: none;
    box-shadow: var(--beta-state-input-active);
  }

  &:where(:not(.readonly, :disabled):hover) {
    background-color: var(--beta-color-fill-grey-heavy);
  }
}

.SelectMainContent {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.SelectDropdown {
  min-width: 200px;
  min-height: 42px;
  max-height: 640px;

  background-color: var(--beta-color-surface-highest);
  border-radius: var(--beta-radius-8);
  box-shadow: var(--beta-elevation-3);
}
