@use '../../styles/mixins/dimension';

@use '../Icon/Icon.module';

$chromatic-colors: 'blue', 'red', 'green', 'cobalt', 'orange', 'pink', 'purple';

.FloatingButton {
  $background-color-map: (
    blue: --beta-color-fill-accent-blue-heavier,
    cobalt: --beta-color-fill-accent-cobalt-heavier,
    red: --beta-color-fill-accent-red-heavier,
    orange: --beta-color-fill-accent-orange-heavier,
    green: --beta-color-fill-accent-green-heavier,
    pink: --beta-color-fill-accent-pink-heavier,
    purple: --beta-color-fill-accent-purple-heavier,
    dark-grey: --beta-color-fill-neutral-heaviest,
    light-grey: --beta-color-fill-neutral-heavier,
  );
  $color-map: (
    blue: --beta-color-text-accent-blue,
    cobalt: --beta-color-text-accent-cobalt,
    red: --beta-color-text-accent-red,
    orange: --beta-color-text-accent-orange,
    green: --beta-color-text-accent-green,
    pink: --beta-color-text-accent-pink,
    purple: --beta-color-text-accent-purple,
    dark-grey: --beta-color-text-neutral,
    light-grey: --beta-color-text-neutral-light,
  );
  $hovered-color-map: (
    blue: --beta-color-text-accent-blue-hovered,
    cobalt: --beta-color-text-accent-cobalt-hovered,
    red: --beta-color-text-accent-red-hovered,
    orange: --beta-color-text-accent-orange-hovered,
    green: --beta-color-text-accent-green-hovered,
    pink: --beta-color-text-accent-pink-hovered,
    purple: --beta-color-text-accent-purple-hovered,
    dark-grey: --beta-color-text-neutral-hovered,
    light-grey: --beta-color-text-neutral-light-hovered,
  );
  $icon-color-map: (
    dark-grey: --beta-color-icon-neutral-heavy,
    light-grey: --beta-color-icon-neutral,
  );

  position: relative;

  box-sizing: border-box;

  border-radius: 999px;
  box-shadow: var(--beta-elevation-2);

  transition: background-color var(--beta-motion-transition-fast);

  /* dimension */
  &:where(.size-xs) {
    height: 20px;
    padding: 0 6px;

    & :where(.ButtonText) {
      padding: 0 3px;
    }
  }

  &:where(.size-s) {
    height: 24px;
    padding: 0 8px;

    & :where(.ButtonText) {
      padding: 0 4px;
    }
  }

  &:where(.size-m) {
    height: 36px;
    padding: 0 12px;

    & :where(.ButtonText) {
      padding: 0 4px;
    }
  }

  &:where(.size-l) {
    height: 44px;
    padding: 0 14px;

    & :where(.ButtonText) {
      padding: 0 6px;
    }
  }

  &:where(.size-xl) {
    height: 54px;
    padding: 0 18px;

    & :where(.ButtonText) {
      padding: 0 6px;
    }
  }

  /* background-color */
  &:where(.variant-primary) {
    @each $button-color, $background-color in $background-color-map {
      &:where(.color-#{'' + $button-color}) {
        background-color: var(#{$background-color});
      }
    }
  }

  &:where(.variant-secondary) {
    background-color: var(--beta-color-surface-low);
  }

  /* color */
  /* stylelint-disable-next-line no-duplicate-selectors */
  &:where(.variant-primary) {
    color: var(--beta-color-text-absolute-white);

    &:where(.color-dark-grey) {
      color: var(--beta-color-text-neutral-heaviest);
    }
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &:where(.variant-secondary) {
    @each $button-color, $color in $color-map {
      &:where(.color-#{'' + $button-color}) {
        color: var(#{$color});
      }
    }

    @each $button-color, $icon-color in $icon-color-map {
      &:where(.color-#{'' + $button-color}) {
        & :is(.ButtonIcon) {
          color: var(#{$icon-color});
        }
      }
    }
  }

  /* visual effect on interaction */
  &:where(.active, :hover):where(:not(:disabled)) {
    box-shadow: var(--beta-elevation-3);

    @each $button-color, $background-color in $background-color-map {
      &:where(.variant-primary.color-#{'' + $button-color}) {
        background-color: var(#{$background-color}-hovered);
      }
    }

    @each $button-color, $color in $hovered-color-map {
      &:where(.variant-secondary.color-#{'' + $button-color}) {
        color: var(#{$color});

        & :is(.ButtonIcon) {
          color: var(#{$color});
        }
      }
    }
  }

  &:where(.variant-primary.color-blue:focus-visible) {
    outline: 3px solid var(--beta-color-state-action-light);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--beta-opacity-disabled);
  }

  /* internal components */
  & :where(.ButtonContent) {
    display: flex;
    align-items: center;
    justify-content: center;

    &:where(.loading) {
      visibility: hidden;
    }
  }

  & :where(.ButtonLoader) {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    @each $size, $value in Icon.$size-map {
      &:where(.size-#{$size}) {
        & :is(.Loader) {
          @include dimension.square(#{$value}px);
        }
      }
    }
  }
}
