@layer components {
  .Center {
    align-items: center;
    justify-content: center;

    &:where(.display-flex) {
      display: flex;
    }

    &:where(.display-inline-flex) {
      display: inline-flex;
    }
  }
}
