:where(.BaseButton) {
  cursor: pointer;

  margin: 0;
  padding: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;

  &:where(:focus-visible) {
    outline: 3px solid var(--color-state-action-light);
  }

  &:where(:focus:not(:focus-visible)) {
    outline: none;
  }
}
