:where([data-bezier-preflight]) {
  /* Apply a consistent box model */
  &, *, *::before, *::after {
    box-sizing: border-box;
  }

  /* Reset default spacing and background */
  * {
    margin: unset;
    padding: unset;
    background: unset;
    border-width: 0;
  }

  /* Ensure form elements inherit font and color */
  :where(input, button, textarea, select, optgroup) {
    font: inherit;
    color: inherit;
  }

  /* Remove default list styles */
  :where(ol, ul) {
    list-style: none;
  }
}
