@use '../../node_modules/@channel.io/bezier-tokens/dist/css/styles.css' as *;
@use '../../node_modules/@channel.io/bezier-tokens/dist/alpha/css/styles.css'
  as *;
@use '../../node_modules/@channel.io/bezier-tokens/dist/beta/css/styles.css'
  as *;
