.ChevronWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  max-width: 20px;
  margin-left: 2px;
}

.ChildrenWrapper {
  padding: 0 0 8px;
  margin: 0;
}
