@use '../../styles/mixins/state';

$divider-side-indent: 6px;

.SegmentedControl {
  --b-v3-segmented-control-width: initial;
  --b-v3-segmented-control-item-index: -1;
  --b-v3-segmented-control-item-count: 0;
  --b-v3-segmented-control-height: initial;
  --b-v3-segmented-control-item-height: initial;
  --b-v3-segmented-control-item-padding: initial;
  --b-v3-segmented-control-padding: 2px;
  --b-v3-segmented-control-divider-thickness: 1px;

  position: relative;
  z-index: var(--layer-z-index-base);

  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: var(--b-v3-segmented-control-width);
  height: var(--b-v3-segmented-control-height);
  padding: var(--b-v3-segmented-control-padding);

  background-color: var(--color-fill-neutral-light);
  border-radius: 9999px;

  &:where(.size-s) {
    --b-v3-segmented-control-height: 28px;
    --b-v3-segmented-control-item-height: 24px;
    --b-v3-segmented-control-item-padding: 2px 8px;
  }

  &:where(.size-m) {
    --b-v3-segmented-control-height: 36px;
    --b-v3-segmented-control-item-height: 32px;
    --b-v3-segmented-control-item-padding: 6px 8px;
  }

  &:where([data-disabled]) {
    opacity: var(--opacity-disabled);

    & :where(.SegmentedControlItem, .SegmentedControlIndicator) {
      cursor: not-allowed;
    }
  }
}

.SegmentedControlIndicator {
  position: absolute;
  z-index: var(--layer-z-index-base);
  top: 50%;
  left: var(--b-v3-segmented-control-padding);
  transform: translateX(
      calc(
        (var(--b-v3-segmented-control-item-index) * 100%) +
          var(--b-v3-segmented-control-item-index) *
          var(--b-v3-segmented-control-divider-thickness)
      )
    )
    translateY(-50%);

  width: calc(
    (
        100% -
          (
            (var(--b-v3-segmented-control-item-count) - 1) *
              var(--b-v3-segmented-control-divider-thickness)
          ) -
          (var(--b-v3-segmented-control-padding) * 2)
      ) /
      var(--b-v3-segmented-control-item-count)
  );
  height: var(--b-v3-segmented-control-item-height);

  background-color: var(--color-fill-bright);
  border-radius: 9999px;
  box-shadow:
    var(--elevation-1),
    inset 0 0 2px 0 var(--color-elevation-base-inner);

  transition: transform var(--motion-transition-fast);
}

.SegmentedControlDivider {
  position: relative;
  z-index: var(--layer-z-index-base);

  flex: 0 0 auto;

  width: 1px;
  height: var(--b-v3-segmented-control-item-height);

  opacity: 1;

  transition: opacity var(--motion-transition-fast);

  &::before {
    content: '';

    position: absolute;
    top: $divider-side-indent;
    bottom: $divider-side-indent;
    left: 0;

    width: 1px;

    background-color: var(--color-border-neutral);
    border-radius: 1px;
  }

  &:where(.hidden) {
    opacity: 0;
  }
}

.SegmentedControlItem {
  --b-v3-segmented-control-item-text-color: var(--color-text-neutral-lighter);
  --b-v3-segmented-control-item-icon-color: var(--color-icon-neutral);

  position: relative;
  z-index: var(--layer-z-index-floating);

  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-width: 0;
  height: var(--b-v3-segmented-control-item-height);
  padding: var(--b-v3-segmented-control-item-padding);

  color: var(--b-v3-segmented-control-item-text-color);

  background-color: transparent;
  border-radius: 9999px;
  outline: none;

  transition:
    color var(--motion-transition-fast),
    background-color var(--motion-transition-fast);

  &:where(.icon-only) {
    flex: 0 0 var(--b-v3-segmented-control-item-height);
    width: var(--b-v3-segmented-control-item-height);
    padding: 0;
  }

  &:where([data-selected]) {
    --b-v3-segmented-control-item-text-color: var(--color-text-neutral);
    --b-v3-segmented-control-item-icon-color: var(--color-icon-neutral-heavier);

    cursor: default;
  }

  &:where(:hover):where(:not(:disabled, [data-selected])) {
    --b-v3-segmented-control-item-text-color: var(--color-text-neutral);
    --b-v3-segmented-control-item-icon-color: var(--color-icon-neutral-heavier);

    background-color: var(--color-fill-neutral-light);
  }

  &:where(:disabled) {
    cursor: not-allowed;
  }

  &:where(:focus-visible) {
    @include state.focus;
  }
}

.SegmentedControlItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;

  &:where(.has-adornment) {
    gap: 4px;
  }
}

.SegmentedControlItemLabel {
  color: var(--b-v3-segmented-control-item-text-color);
}

.SegmentedControlItemAdornment {
  flex: 0 0 auto;
}

.SegmentedControlItemIcon {
  flex: 0 0 auto;

  width: 16px;
  height: 16px;

  color: var(--b-v3-segmented-control-item-icon-color);

  transition: color var(--motion-transition-fast);
}

.IconOnlyContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
