@layer components {
  .Avatar {
    all: unset;
    position: relative;
    display: block;
    flex: none;

    &.disabled {
      pointer-events: none;
      opacity: var(--opacity-disabled);
    }

    &.size-20 {
      width: 20px;
      height: 20px;
    }

    &.size-24 {
      width: 24px;
      height: 24px;
    }

    &.size-30 {
      width: 30px;
      height: 30px;
    }

    &.size-36 {
      width: 36px;
      height: 36px;
    }

    &.size-42 {
      width: 42px;
      height: 42px;
    }

    &.size-48 {
      width: 48px;
      height: 48px;
    }

    &.size-72 {
      width: 72px;
      height: 72px;
    }

    &.size-90 {
      width: 90px;
      height: 90px;
    }

    &.size-120 {
      width: 120px;
      height: 120px;
    }
  }

  .AvatarImage {
    --b-avatar-computed-status-gap: var(--b-avatar-status-gap);

    position: relative;
    box-sizing: content-box;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    outline: none;

    &.bordered[data-state="enabled"] {
      --b-avatar-computed-status-gap: calc(var(--b-avatar-status-gap) + (2 * var(--b-alpha-smooth-corners-box-shadow-spread-radius)));
    }
  }

  .StatusWrapper {
    position: absolute;
    right: var(--b-avatar-computed-status-gap, 0);
    bottom: var(--b-avatar-computed-status-gap, 0);
    display: flex;
  }
}