.Form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FormItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 12px;

  &:last-child {
    padding-bottom: 0;
  }
}

.FormDivider {
  width: 100%;
}

.FormField {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.ControlGroup {
  gap: 4px;
}

.LabelArea,
.ControlGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;

  &:empty {
    display: none;
  }
}

.LabelTop {
  flex-direction: column;
  gap: 4px;

  > .LabelArea,
  > .ControlGroup {
    width: 100%;
  }

  > .ControlGroup > * {
    width: 100%;
  }
}

.LabelLeft {
  min-height: 40px;

  > .LabelArea {
    flex: 1 1 0;
    justify-content: center;

    box-sizing: border-box;
    min-width: 150px;
    min-height: 36px;
    padding-right: 8px;
  }

  > .ControlGroup {
    flex: 1 1 0;
  }
}

.FormLabelWrapper,
.FormHelperTextWrapper {
  width: 100%;
  min-width: 0;
}

.Label {
  display: flex;
  gap: 2px;
  align-items: center;
  min-width: 0;
}

.LabelText {
  min-width: 0;
  line-height: 18px;
  overflow-wrap: anywhere;
}

.FormHelperText {
  min-width: 0;
  overflow-wrap: anywhere;
}

.ErrorMessages {
  width: 100%;
  min-width: 0;

  &:empty {
    display: none;
  }
}

.FormErrorMessage {
  display: flex;
  gap: 4px;
  align-items: flex-start;
}

.ErrorIcon {
  flex: 0 0 auto;
  margin-top: 3px;
}

.HelperTextContent {
  min-width: 0;
}
